/* ==========================================================================
   Helpers
   ========================================================================== */

@keyframes bgscroll {
    from {
        background-position: 0px 0px, 0px 100%, 0px 50%, 0px 0px;
    }
    to {
        background-position: 7680px 0, 5760px 100%, 3840px 50%, 1920px 0;
    }
}

@keyframes personscroll-repeat {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}
@keyframes start-personscroll {
    from {
        right: 20%;
    }
    to {
        right: 100%;
    }
}


@keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -348px;
    }
}

.transition07 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.transition05 {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.transition03 {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.stop-scrolling {
    position:fixed;
    overflow: hidden!important;
    z-index:1;
    width: 100%;
}

.primary-color{
    color:$primary-color;
}

.bg-overlay{
    background:rgba(#000, .7);
    right:0;
    bottom:0;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    display:none;
    overflow-y: scroll;
}

.bg-graylight{
    background:#f5f5f5;
}
.bg-white{
    background:#fff;
}
.bg-green{
    background:$sub-color;
}

.title-style1{
    font-size: 14px;
    font-weight: 500;
    color:$gray;
    span{
        color:$gray-dark;
        font-weight: 700;
    }
}

.row-card{
   display: flex;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
}
.col-card-4{
    float: left;
    padding-left:7px;
    padding-right:7px;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    @include large{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.col-card-3{
    float: left;
    padding-left:7px;
    padding-right:7px;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    @include large{
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-card-6{
    float: left;
    padding-left:7px;
    padding-right:7px;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    @include small{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-card-3-scroll{
    width: 288px;
    padding:0 15px;
    float: left;
    @include large{
        width:25%;
    }
}


.radius-none{
    border-radius:0;
}

.img-car-50{
    width:50%;
}
.btn{
    cursor:pointer;
}