@mixin vertical-middle($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-box(){
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
@mixin horizontal-center(){
  left:50%;
    transform: translateX(-50%);
}

@mixin grid($number,$padding:null){
  width: percentage(100 / $number*0.01);
  @if $padding != null{
    padding:{
      left:$padding;
      right:$padding;
    }
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}
@mixin medium {
  @media (min-width: $md) {
    @content;
  }
}
@mixin small {
  @media (min-width: $small) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin media($min-max,$break-point){
	@media ($min-max:$break-point){
		@content;
	}
}


@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}