/* ==========================================================================
   Placeholder
   ========================================================================== */

%display-vertical-middle {
    display: inline-block;
    vertical-align: middle;
}

%list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
