/* ==========================================================================
   header-title
   ========================================================================== */

.header-title{
	position: relative;
	margin-bottom:20px;
	text-align:left;
	h4{
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 0;
		position: relative;
		padding-right:20px;
		z-index: 1;
		font-size:rem(12px);
		@include mobile{
			font-size: initial;
		}
	}
	&:after{
		@include vertical-middle(absolute);
		right: 0;
		content: "";
		height:1px;
		width:100%;
		background: $border-color;
	}
}