//font family
//color
//start with assigning color
//create grayscale
// url base
// responsive break point
// font weight
// header topbar
// logo
//header
//menu
//list dropdown
// footer
// menu footer
// menu support
// copy right


// font family
$font-base:12px;
//$primary-font:						'Open Sans', sans-serif;
//$primary-font:						    'Roboto', sans-serif;
//$primary-font:						'Quicksand', sans-serif;
//$primary-font:						'Encode Sans Expanded', sans-serif;
//$primary-font:						'Prompt', sans-serif;
$primary-font:						'Arial',sans-serif;
$primary-font-size: 				rem($font-base);
// color

// Start with assigning color names to specific hex values.
$white:								#fff;
$green:								#8bc34a;
$orange:							#ffb300;
$orange-lighter:					#ffecb3;

// Create grayscale
$gray-dark: 						#424242;
$gray:								#9e9e9e;
$gray-lighter:						#e1e1e1;
$gray-lightest:						#f7f7f7;

$primary-color: 					$orange;
$sub-color:							$green;
$primary-button-color:				$sub-color;
$web-color:							$gray-dark;
$border-color:						$gray-lighter;
$sub-bg-color:						$gray-lightest;
$primary-color-hover:				$green;

$color-box-shadow:					 rgba(0, 0, 0, 0.25);
$box-shadow:						1px 0 8px $color-box-shadow;
$color-facebook:					#3B5998;
$color-google-plus:					#DE4E43;
$color-youtube:						#CD201F;

// url base
$imgUrl : 							'../img';


// responsive break point
$large : 							1200px;
$md: 								992px;
$small : 							768px;
$mobile : 							576px;


// font weight
$light:								300;
$normal:							400;
$medium:							500;
$semi-bold:							600;
$bold:								700;
$extra-bold:						800;
$ultra-bold:						900;

// header topbar
$header-topbar-font-weight:			$medium;
$header-topbar-color:				$white;
$header-topbar-color-hover:			$orange-lighter;
$header-topbar-padding:				8px 0;


// profile-nav
$profile-nav-background:			$white;
$profile-nav-background-hover:		$sub-color;
$profile-nav-color-box-shadow:		$color-box-shadow;
$profile-nav-width:					225px;
$profile-nav-color:					$gray-dark;
$profile-nav-color-hover:			$sub-color;
$profile-nav-color-border:			$gray-lighter;
$profile-nav-font-size-icon:		1.125rem;

// logo
$width-logo:						166px;
$width-logo-decktopsmall:			155px;
$width-logo-small:					109px;


//header
$font-size-group-profile-nav:		.9375rem;
$font-size-icon-group-profile-nav: 	1.5rem;



// Main Menu
$main-menu-background: 				$white;
$main-menu-font-size: 				rem(12px);
$main-menu-font-weight:				$bold;
$main-menu-color-hover:				$sub-color;
$main-menu-color-border:			$sub-color;


// sub menu
$sub-menu-background:				$white;
$sub-menu-color-border:				$border-color;
$sub-menu-size:						rem(12px);
$sub-menu-font-weight:				$normal;


// child-vertical
$child-vertical-height:				385px;


// child-horizontal
$child-horizontal-width:			615px;


// root item more
$root-item-more-width: 				400px;

$view-categories-url-background: 	$gray-lightest - 6;


//list dropdown
$list-dropdown-background:			$white;
$list-dropdown-background-hover:	#fafafa;
$list-dropdown-background-shadow:	$color-box-shadow;
$list-dropdown-width-border:		1px;
$list-dropdown-color:				$web-color;
$list-dropdown-color-hover:			$sub-color;
$list-dropdown-color-border:		$gray-lighter;
$list-dropdown-font-size:			rem(12px);
$list-dropdown-font-weight:			500;
$list-dropdown-max-height:			480px;

//btn-dropdown
$wrap-dropdown-font-color:			$sub-color;
$wrap-dropdown-font-size:			rem(20px);
$wrap-dropdown-font-weight:			500;
$wrap-dropdown-height:				50px;


// social
$social-font-size:					rem(31px);


// menu footer
$footer-font-size:					rem(13px);
$footer-font-weight:				$bold;
$footer-color-hover:				$sub-color;
$footer-background:					$gray-lightest - 6;



// menu support
$menu-support-font-size:			rem(12px);
$menu-support-color-hover:			$sub-color;

$font-size-menu-support:			.875rem;
$color-hover-menu-support:			$sub-color;


// copy right
$coppy-right-color:					$web-color;
$coppy-right-color-hover:			$sub-color;
$coppy-right-font-size:				rem(14px);

//modal title
$modal-title-font-size:				rem(16px);
$modal-title-font-weight:			700;
$modal-title-color:					$web-color;
$modal-color-border:				$gray-lighter;


//wrapper main

$wrapper-main-background: 			$white;


//sign
$sign-background: 					$gray-lightest;
$sign-color: 						$sub-color;
$sign-font-size: 					rem(26px);
$sign-font-weight: 					700;
$sign-padding-bottom: 				310px;
$sign-color-border: 				$gray-lighter;

// form sign
$form-sign-color-input:				#9e9e9e;
$form-sign-font-size:				rem(11px);
$form-sign-font-size-mobi:			rem(12px);
$form-sign-font-weight:				500;
$form-sign-color:					$primary-color;



//Form Seach
$form-search-color: 					$gray-dark;
$form-search-font-size: 				rem(12px);
$form-search-font-weight: 			500;
$form-search-background: 			rgba(255, 255, 255, 0.8);
$form-search-color-border: 			$gray;
$button-search-font-size:			rem(25px);

//banner
$banner-bg:							$gray-lighter;
//Banner Home
$banner-home-color: 				$white;

// section favorite
$favorite-background:				$gray-lightest - 2;
$favorite-background-mobi:			$white;

//tabs-favorite
$tabs-favorite-background:			$white;
$tabs-favorite-color-border:		$border-color;
$tabs-favorite-nav-item-background:	#fafafa;
$tabs-favorite-active-color:		$sub-color;

//card post
$card-post-font-size: 				rem(12px);
$card-post-color-hover: 			$sub-color;

// slider-categries
$slider-categries-color:			$white;
$slider-categries-background:		$sub-color;


// section-categries-favorite
$section-categries-favorite-bg:		$white;
$section-categries-favorite-bg-mb:	$gray-lightest - 2;


//card full image
$card-full-image-color: 			$white;
$card-full-image-font-size: 		rem(18px);

// compose-post-page
$compose-post-page-color: 			$web-color;
$compose-post-page-color-hover: 	$sub-color;
$compose-post-page-background:		#f5f5f5;


// feature-packages
$feature-packages-color:			$gray;
$feature-packages-color-border:		$gray-lighter;
$feature-packages-background:		$white;


// $feature-packages-free
$feature-packages-free-color:		#636363;
$feature-packages-free-bg:			rgba(99, 99, 99, 0.6);
$feature-packages-free-color-border:$feature-packages-free-color;


// $feature-packages-plus
$feature-packages-plus-color:		#09c;
$feature-packages-plus-bg:			rgba(0, 153, 204, 0.6);;
$feature-packages-plus-color-border:$feature-packages-plus-color;


// $feature-packages-featured
$feature-packages-featured-color:		#8560a8;
$feature-packages-featured-bg:			rgba(133, 96, 168, 0.6);;
$feature-packages-featured-color-border:$feature-packages-featured-color;


// $feature-packages-premium
$feature-packages-premium-color:		#f26522;
$feature-packages-premium-bg:			rgba(242, 101, 34, 0.6);;
$feature-packages-premium-color-border:$feature-packages-premium-color;


// module
$module-bg: 							$white;
$module-color-border: 					$gray-lighter;
$module-font-weight: 					500;

//note
$note-bg:								#f1f1f1;
$note-font-size:						rem(11px);
$note-color:							$gray;

// compose-extra
$compose-extra-color-border:			$gray-lighter;
$compose-extra-color:					$primary-color;
$compose-extra-bg-button:				$sub-color;


//custom select
$custom-sl-color-border: 				$white;
$custom-sl-bg: 							$sub-color;


$refine-filter-color:					$sub-color;
$refine-filter-color-border:			#e4e4e4;


//panination
$panination-color-border:				$sub-color;