/* ==========================================================================
   assessment
   ========================================================================== */
.section-assessment{
	padding:30px 0;
	@include small{
		padding:50px 0 370px;
		background-image:url(#{$imgUrl}/default-image/bg-signin.png);
		background-repeat:repeat-x;
		background-position:bottom center;
	}
	.title{
		font-size: 24px;
		font-weight: 400;
	}
	.btn{
		width:100%;
		@include mobile{
			width: auto;
		}
	}
}
.content-assessment{
	@include mobile{
		margin:0 -15px;
	}
	@include large {
		.mCSB_horizontal.mCSB_outside>.mCSB_container{
			width: auto !important;
		}
	}
}