/* ==========================================================================
   Autocomplate
   ========================================================================== */
#input-search{
	font-size: 1rem;
	font-weight: 500;
}
.ui-widget-content{
	background: rgba(255, 255, 255, 0.8)  !important;
	//padding:10px 0  !important;

}
.ui-widget.ui-widget-content{
	border-color: #9e9e9e!important;
}
.ui-menu-item{
	.ui-menu-item-wrapper{
		font-size: 13px!important;
		padding: 5px 10px!important;
		font-weight: 500!important;
	}
	.ui-state-active{
		border: 1px solid $sub-color!important;
		background: $sub-color!important;
	}
}
.ui-front{
	z-index: 1!important;
}