/* ==========================================================================
   Box Url Link
   ========================================================================== */
.box-url-link{
	li{
		color:$gray-lighter;
		font-size:12px;
		font-weight: 700;
		border-bottom:1px solid $border-color;
		a{
			line-height:35px;
			display:block;
			padding:6px 10px;
		}
		&:last-child{
			border-bottom:0;
		}
	}
}