/* ==========================================================================
   box-img-ads
   ========================================================================== */
.box-img-ads {
    position: relative;
    width: 100%;
    height: 80px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    margin-bottom: 30px;
    @include medium{
        height: 177px;
        margin-bottom: 0px;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.35);
    }
    a{
        display: block;
        width:100%;
        height:100%;
        position: absolute;
        z-index: 1;
    }

    img {
        width: 100%;
        height: auto;
    }
    .description {
        left: 0;
        right: 0;
        color: #fff;
        @include vertical-middle(absolute);
        span {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
        }
        h5 {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
