/* ==========================================================================
   Breadcrumbs support
   ========================================================================== */
.breadcrumb-support{
	color: #9e9e9e;
	font-weight: 700;
	.breadcrumb-item.active{
		color: #9e9e9e;
	}
	a{
		color: #9e9e9e;
		&:hover{
			color: $sub-color;
		}
	}
	.breadcrumb-item+.breadcrumb-item::before{
		content:"\F125";
		font-family: "ionicons";
		color: #9e9e9e;
	}
}