/* ==========================================================================
   Breadcrumbs
   ========================================================================== */
.breadcrumbs{
	margin-bottom:15px;
	padding-left:0;
	li{
		font-size:rem(14px);
		color:$gray;
		font-weight:700;
		position: relative;
		padding-left:20px;
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
		cursor:pointer;
		&:hover{
			color:$sub-color;
			&:after{
				color:$gray;
			}
		}
		&:last-child:hover{
			color:$gray;
			cursor: auto;
		}
		&:after{
			content:"\F125";
			font-family: "ionicons";
			position: absolute;
			top:1px;
			left: 0;
		}
		&:first-child{
			padding-left:0;
			&:after{
				font-size:0;
			}
		}
		a{
			color:$gray;
		}
	}
	a:hover{
		color:$compose-post-page-color-hover;
	}
}

.banner-page .breadcrumbs{
	margin-bottom:0;
}