/* ==========================================================================
   Button
   ========================================================================== */
// btn-post-ad
.btn-post-ad {
    font-weight: $bold;
    line-height: 27px;
    width: 130px;
    text-align: center;
    padding: 0;
    height: 28px;
    font-size: rem(12px);
    &:focus{
      border-color:#fff;
      color:#fff;
    }
}
.btn-link:hover{
	border-color:transparent;
}

.btn-orange{
  color: $primary-color;
  border-color:$primary-color;
  font-size:12px;
  padding:12px;
  background: transparent;
  &:hover{
    border-color:$primary-color;
    background: $primary-color;
    color:#fff;
  }
}

.btn-green{
  color: $sub-color;
  border-color:$sub-color;
  font-size:12px;
  padding:12px;
  background: transparent;
   &:hover{
    border-color:$sub-color;
    background: $sub-color;
    color:#fff;
  }
}

// btn-post-ad-mobi
.btn-post-ad-mobi{
  padding: 17px 10px;
  background:$gray-lightest - 2;
  .btn-link{
    background:$sub-color;
    width:100%;
    padding-top:12px;
    padding-bottom:12px;
    font-size:rem(14px);
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
  }
}