/* ==========================================================================
   Card img Zoom
   ========================================================================== */
.card-img-zoom{
	position: relative;
	.card-img{
		overflow:hidden;
		img{
			transition: all .5s ease;
		}
	}
	&:hover{
		.card-img img{
			transform: scale(1.1);

		}
	}
}
