/* ==========================================================================
   cards-payment
   ========================================================================== */
.cards-payment{
	.form-control::-moz-placeholder, 
	.form-control::placeholder{
		color: #9e9e9e;
	}
	.btn{
		width: 166px;
		height: 40px;
		line-height:25px;
		text-align:center;
		margin:auto;
		display: block;
	}
}