    /* ==========================================================================
   Card Post
   ========================================================================== */

.card-post {
    margin: 15px 0;
    border-radius: 0;
    .card-img-top {
        position: relative;
        width:100%;
        a {
            postion: relative;
            display: block;
        }
        .img-fluid {
            width: 100%;
            object-fit: cover;
            object-position: center;
            object-position: 50% 50%;
        }
    }
    .card-price {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: rem(12px);
        color: $primary-color;
        padding: 5px;
        @include mobile {
            font-size: rem(16px);
            padding: 10px;
        }
    }
    .card-block {
        padding: 5px;
        @include mobile {
            padding: 15px 12px 10px;
        }
    }
    .card-avatar {
        width: 25px;
        //width: 40px;
        border-radius: 5px;
        display: none;
        @include mobile {
            display: inline-block;
        }
        @include small {
            width: 40px;
            border-radius: 15px;
        }
        img {
            width: 100%;
            border-radius: 8px;
        }
    }
    .card-description {
        width: calc(100% - 22px);
        font-weight: 500;
        padding: 5px 0px;
        position: relative;
        @include mobile {
            padding: 0px;
            margin-left: 5px;
            display: inline-block;
            width: calc(100% - 90px);
        }
    }
    .card-title {
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 500;
        @include mobile {
            padding-bottom: 8px;
        }
        &:hover a {
            color: $card-post-color-hover;
        }
    }
    .card-address {
        margin-bottom: 0;
        color: $gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .add-favorite {
        font-size: rem(21px);
        color: $gray;
        position: absolute;
        bottom: 0;
        right: 5px;
        @include small {
            font-size: 25px;
            bottom: 12px;
            right: 12px;
        }
        &.active {
            color: $card-post-color-hover;
        }
        .ion-ios-star:before{
            margin-right: 0;
        }
    }
}

.tabs-favorite .card-post {
    .card-img-top{
        min-height: 138px;
        width:100%;
        @include large{
            min-height: 168px;
        }
        .img-fluid{
            height: 100%;
        }
    }
    .card-block {
        padding: 10px 5px;
        @include medium{
            padding: 15px 12px 10px;
        }
    }
     .card-price {
        font-size: 1rem;
    }
    .card-avatar {
        width: 40px;
        border-radius: 15px;
        overflow: hidden;
        display: none;
        @include mobile{
            display: inline-block;
        }
    }
    .card-title {
        font-size: rem(14px);
        padding-bottom: 5px;
        @include mobile {
            padding-bottom: 8px;
            font-size:14px;
        }
    }
    .card-description {
        padding: 0px;
        width: calc(100% - 25px);
        @include mobile{
            width: calc(100% - 55px);
        }
        @include medium{
            display: inline-block;
            margin-left: 5px;
            width: calc(100% - 50px);
        }
    }
    .add-favorite {
        font-size: 25px;
        bottom: auto;
        top:0;
        color:$web-color;
        right: 12px;
        &.active {
            color: $card-post-color-hover;
        }
        
    }
}

.has-urgent {
    position: relative;
    .text-mockup {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 60px;
        height: 60px;
        z-index: 1;
        background:url(#{$imgUrl}/default-image/can-ban-gap.png) no-repeat;
        background-size: cover;
        @include small {
            width: 70px;
            height: 70px;
        }
    }
    &.job{
        .text-mockup{
            background:url(#{$imgUrl}/default-image/can-tuyen-gap.png) no-repeat;
        }
    }
}

.has-highlight {
    background-color: #fff3e0;
}

.has-gallery {
    .horizontal-gallery {
        img:nth-child(1) {
            height: 50%;
            width: 100%;
            
        }
        img:nth-child(2) {
            float: left;
            width: 50%;
            height: 50%;
            padding-top: 4px;
            padding-right: 2px;
        }
        img:nth-child(3) {
            float: left;
            width: 50%;
            height: 50%;
            padding-top: 4px;
            padding-left: 2px;
        }
    }
    .vertical-gallery{
        img:nth-child(1){
            padding-right: 2px;
            float: left;
            width: 50%;
        }
        img:nth-child(2){
            padding-left:2px;
            float: right;
            width: 50%;
        }
    }
}