/* ==========================================================================
   Card full Image
   ========================================================================== */
.card-full-image{
	position: relative;
	box-shadow:$box-shadow;
	margin-bottom:10px;
	overflow:hidden;
	min-width: auto;
	@include mobile{
		margin-bottom:30px;
	}
	@include medium{
		min-height: 230px;
	}
	img{
		-webkit-filter: brightness(.65);
		filter: brightness(.65);
	}
	a{
		height:100%;
		display:block;
	}
	.card-img-top{
		width: 100%;
		height:auto;
		border-radius:0;
	}
	.card-block{
		@include vertical-middle(absolute);
		left: 0;
		right: 0;
		color:$card-full-image-color;
		z-index: 1;
	}
	.card-title{
		font-size:rem(16px);
		margin-bottom: 3px;
		font-weight:500;
		@include mobile{
			font-size:$card-full-image-font-size;
		}
	}
	.card-text{
		font-weight:500px;
		margin-bottom:0;
	}
	&:hover{
		img{
		  	-webkit-filter: brightness(1);
			filter: brightness(1);
		  }
		.card-img-top{
			  transform: scale(1.1);
		}
	}
}