/* ==========================================================================
   Card Support
   ========================================================================== */
.card-support{
	position: relative;
	width:50%;
	padding:15px;
	@include small{
		width:20%;
		padding:0 15px;
	}
	&-icon{
		width: 90px;
		height: 90px;
		background-color: #6dcff6;
		text-align: center;
		line-height: 90px;
		border-radius: 50%;
		margin:auto;
		transition: all .3s;
		@include medium{
			width: 110px;
			height: 110px;
			line-height: 110px;
		}
		i{
			font-size: 50px;
			color:#fff;
			@include medium{
				font-size: 60px;
			}
		}
	}
	&-title{
		margin:15px 0;
		font-size: 14px;
		font-weight: 500;
		transform: all .3s;
		@include medium{
			font-size: 16px;
			min-height: 35px;
			margin:30px 0 15px;
		}
	}
	&-description{
		font-weight: 500;
	}
	&:nth-child(2){
		.card-support-icon{
			background-color: #8393ca;
		}
	}
	&:nth-child(3){
		.card-support-icon{
			background-color: #bd8cbf;
		}
	}
	&:nth-child(4){
		.card-support-icon{
			background-color: #f69679;
		}
	}
	&:nth-child(5){
		.card-support-icon{
			background-color: #fcce75;
		}
	}
	&:hover{
		.card-support-title{
			color:$sub-color;
		}
		.card-support-icon{
			transform: translateY(-5px);
			box-shadow: 1px 0 8px rgba(0,0,0,.35);
		}
	}
}