/* ==========================================================================
   Card BDS
   ========================================================================== */

.card-bds {
    background: #fff;
    padding: 0;
    border: 1px solid $border-color;
    .card-img-top {
        width: 130px;
        @include mobile{
            width: 193px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .card-block {
        width: calc(100% - 130px);
        padding: 10px;
        @include mobile{
            width: calc(100% - 193px);
        }
    }
    .card-description {
        margin-bottom: 0;
    }
    .avata {
        width: 25px;
        display: none;
        @include medium {
            display: block;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
    .card-description {
        width: 100%;
        @include mobile {
            padding-left: 10px;
            width: calc(100% - 25px);
        }
        p {
            margin-bottom: 0;
        }
    }
    .card-title {
        font-size: rem(14px);
        @include mobile {
            font-size: rem(16px);
        }
    }
    .card-address {
        font-size: 11px;
        @include mobile {
            font-size: .75rem;
        }
    }
    .card-price {
        font-size: rem(12px);
        @include mobile {
            font-size: rem(14px);
        }
    }
    .add-favorite {
        font-size: 1.125rem;
        bottom:0;
        right: 0;
        @include small{
            right: 5px;
            bottom: 5px;
        }
    }
    &:nth-of-type(n+7){
        display:none;
        @include mobile{
            display:block;
        }
    }
}
