/* ==========================================================================
   card-horizontal-car
   ========================================================================== */
.card-horizontal-car {
    padding: 0;
    border: 1px solid $border-color;
    .card-img-top {
        width: 120px;
        @include mobile{
            width: 150px !important;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .card-block {
        padding: 10px;
        width: calc(100% - 125px);
        @include mobile{
             width: calc(100% - 155px);
        }
    }
    .avata {
        width: 25px;
        display:none;
        @include medium{
            display:block;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
    .card-description {
        width: 100%;
        @include mobile{
            padding-left: 10px;
            width: calc(100% - 25px);
        }
    }
    .card-title {
        font-size: rem(14px);
        max-height: 32px;
        overflow: hidden;
        @include mobile{
            font-size: rem(16px);
        }
    }
    .card-address{
        font-size:11px;
        @include mobile{
            font-size:.75rem;
        }
    }
    .card-price {
        font-size: rem(12px);
        @include mobile{
            font-size: rem(14px);
        }
    }
    .add-favorite {
        font-size: 25px;
        bottom: 5px;
        right: 0;
      }
}