/* ==========================================================================
   Card Car
   ========================================================================== */
.card-car{
	border-radius:0;
	.card-title{
		font-size:14px;
		font-weight: 500;
		&:hover a{
			color: $sub-color;
		}
	}
	p{
		font-size: 12px;
	}
	.card-redmore{
		font-weight: 400;
		color:$sub-color;
		&:hover{
			color:darken($sub-color, 6.5%);
		}
	}
}