/* ==========================================================================
   Card Horizontal
   ========================================================================== */
.card-horizontal {
    position: relative;
    .card-img-top {
        display: inline-block;
        vertical-align: top;
        img{
            width: 100%;
            height:auto;
            //border-radius: 8px;
        }
    }
    .card-block {
        padding: 0;
        display: inline-block;
        vertical-align: top;
    }
    .card-header {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
    }
    .card-title {
        font-weight: 500;
        &:hover a {
            color: $sub-color;
        }
    }
    .card-price {
        color: $primary-color;
        display: block;
    }
    .card-address {
        font-weight: 500;
        color: $gray;
    }
    .add-favorite {
        position: absolute;
        color: $gray;
        &.active {
            color: $sub-color;
        }
    }

}

// end card-horizontal-lg
.card-horizontal-lg {
    border: 1px solid $border-color;
    .card-img-top {
        width: 130px;
        @include small {
            width: 265px;
        }
    }
    .card-block {
        width: calc(100% - 135px);
        padding: 5px;
        @include small {
            width: calc(100% - 270px);
            padding: 10px;
        }
    }
    .card-header {
        @include small{
            width: calc(100% - 40px);
            padding-right: 5px;
            display: inline-block;
            vertical-align: top;
        }
        @include small {
            width: calc(100% - 135px);
            padding-right: 10px;
        }
    }
    .card-title {
        font-size: 14px;
        @include small {
            font-size: rem(16px);
        }
    }
    .card-price {
        font-size: 12px;
        @include small {
            padding-left: 0;
            font-size: rem(14px);
        }
    }
    .card-avatar {
        overflow: hidden;
        display:none;
        border-radius: 5px;
        @include mobile{
            width: 30px;
        }
        @include small {
            width: 52px;
            border-radius: 15px;
        }
        img {
            width: 100%;
        }
    }
    .date-address {
        font-size: 12px;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
        //margin-top: -12px;
        //padding-left: 38px;
        //trang search
        @include small {
            padding-left: 0;
            margin-top: 0;
            width:130px;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            overflow: inherit;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width:100%;
            @include small {
                display: block;
            }
        }
        time {
            font-size: 10px;
            font-weight: 500;
            color: $gray;
        }
        i{
            margin-left:0;
        }
    }
    .card-description {
        font-weight: 400;
        padding-right: 20px;
        //p {
        //    margin-bottom: 0;
        //}
        .date-address {
            display: none;
        }
    }
    .detail-address {
        margin-bottom: 5px;
        i {
            font-size: 14px;
        }
    }
    .add-favorite {
        bottom: 0;
        right: 0;
        font-size: 21px;
        @include small {
            bottom: 5px;
            font-size: 25px;
        }
    }
}


//card-compact
.card-horizontal-lg {
    &.card-compact {
        time{
            display: none;
        }
        @media (max-width: 1440px) {
            .card-header {
                width: calc(100% - 56px);
            }
            .card-img-top .card-block {
                padding: 9px !important;
            }
            .date-address {
                display: none;
            }
            .card-description {
                & > p {
                    height: 75px;
                    overflow: hidden;
                    margin-bottom: 0;
                }
                .date-address {
                    width: 100%;
                    text-align: left;
                    display: block;
                    .card-address {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            .card-img-top {
                width: 135px;
            }
            .card-block {
                width: calc(100% - 140px);
                padding: 5px 10px !important;
            }
            .card-avatar {
                width: 40px;
            }
            .card-header {
                width: calc(100% - 45px);
                padding: 0 5px;
            }
            .card-description {
                p{
                    height: 20px;
                }
            }
            .detail-address {
                margin-bottom: 0;
                margin-top: -3px;
            }
            .card-price {
                font-size: 18px;
                padding-bottom: 0 !important;
            }
        }
    }
}

// end card-compact
.card-horizontal-lg.card-job-list.card-compact {
    @media (max-width: 1440px) {
        .card-block {
            width: 100%;
        }
        .name-company {
            height: auto;
        }
        &.has-urgent {
            .card-block-top {
                padding-left: 50px;
            }
        }
    }
}

// card-manage
.card-manage.card-horizontal-lg {
    border: none;
    .card-header {
        width: 100%;
        padding-left: 0;
        @include small {
            width: calc(100% - 120px);
        }
        h6 {
            font-size: 14px;
            ont-weight: 400;
            @include small {
                font-size: 16px;
                font-weight: 500;
            }
        }
        li {
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            ;
            color: #9e9e9e;
            &.card-price {
                font-size: 12px;
                color: #ffb300;
                padding-left: 0;
            }
        }
        &.card-header-mb {
            padding-left: 10px;
            width: calc(100% - 135px);
            display: inline-block;
        }
    }
    .card-block {
        padding: 10px 0 0;
        width: 100%;
        @include small {
            width: calc(100% - 270px);
            padding: 0;
            padding-left: 10px;
        }
    }
    .type-post {
        width: 111px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: #d7d7d7;
        font-size: 14px;
        font-weight: 700;
        color: #636363;
        @include small {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .card-description {
        padding-right: 0;
    }
    .card-active {
        margin-top: 5px;
        float: right;
        @include small {
            float: none;
        }
        a {
            font-size: 18px;
            color: #9e9e9e;
            &:hover {
                color: $sub-color;
            }
        }
    }
    .dropdown{
        position: absolute;
        bottom:-7px;
        right:0;
        @include mobile{
            bottom:0;
        }
        &-menu{
            box-shadow: 3px 0 5px rgba(0, 0, 0, 0.18);
            border-radius: 0px;
        }
        &-item{
            font-size: 13px;
            font-weight: 500;
            line-height: 30px;
            color: #9e9e9e;
            padding: 3px 10px;
            border-bottom:1px solid $border-color;
            &:last-child{
                border:none;
            }
            &:hover{
                background: #FFF;
                color: $sub-color;
            }
        }
        > a{
            font-size: 25px;
            color: #9e9e9e;
        }
        &.open > a{
            color:$sub-color;
        }
    }

}

.feature-packages-plus .card-manage.card-horizontal-lg{
    .type-post {
        background-color: #d7f0ff;
        color: #09c;
    }
}

.feature-packages-featured .card-manage.card-horizontal-lg{
    .type-post {
        background-color: #ccccff;
        color: #8560a8;
    }
}

.feature-packages-premium .card-manage.card-horizontal-lg{
    .type-post {
        background-color: #fc9;
        color: #f26522;
    }
}

