/* ==========================================================================
   Card Support List
   ========================================================================== */
.card-support-list{
	border:none;
	margin-bottom: 5px;
	&-header{
		background: $sub-bg-color;
		padding:15px;
		position: relative;
		padding-right: 40px;
		@include mobile{
			padding:15px 20px;
		}
		&:after{
			font-family: ionicons;
			content:"\F3D0";
			position: absolute;
			top:50%;
			transform:translateY(-50%);
			right:20px;
			font-size: 18px;
			font-weight: 700;
		}
		&.show{
			a,i{
				color:$sub-color;
			}
			&:after{
				transform:translateY(-50%) rotateX(150deg);
				color:$sub-color;
			}
		}
		a{
			font-size: rem(18px);
			display: block;
			@include mobile{
				font-size: rem(20px);
			}
			&:hover{
				color:$sub-color;
			}
		}
		i{
			font-size: rem(25px);
			background:#fff;
			border-radius: 50%;
    		padding: 3px;
    		color:$gray;
    		margin-right: 5px;
    		@include mobile{
    			font-size: rem(27px);
    		}
		}
	}
	&-block{
		padding:15px 10px;
		@include mobile{
			padding:20px 12px;
		}
		h6{
			font-size: 16px;
			margin-bottom: 16px;
		}
		ol{
			padding-left:12px;
			li{
				font-weight: 500;
				margin-bottom: 10px;
			}
			a:hover{
				color:$sub-color;
			}
		}
	}
}