/* ==========================================================================
   Card User Activity
   ========================================================================== */
.card-user-activity{
  padding: .625rem;
  background: #fafafa;
  .card-img-top{
    width: 86px;
  }
  .card-block{
    width: calc(100% - 90px);
    padding-left: 5px;
  }
  .card-title{
    font-size: .875rem;
  }
  .card-price {
    font-size: .75rem ;
  }
  .card-address {
    font-size: .75rem;
    padding-right: 20px;
  }
  .card-description{
    padding-right: 15px;
  }
  .add-favorite {
    font-size: 1.125rem;
    right: 10px;
    bottom: 10px;
  }
}