/* ==========================================================================
Card Job List
========================================================================== */
.card-job-list.card-horizontal {
  .card-header{
    padding-left: 10px;
    width: calc(100% - 56px);
    vertical-align: middle;
    display: inline-block;
    @include mobile{
      width: calc(100% - 180px);
    }
  }
  .card-avatar {
    width: 52px;
    border-radius: 15px;
  }
  .card-block {
    width: 100%;
    padding: 10px;
    @include  mobile{
      padding: 1rem;
    }
  }
  .card-description {
    font-weight: 400;
  }
  .name-company {
    font-size: rem(12px);
    margin-bottom: 2px;
    font-weight: 5X00;
  }
  .date-address{
    width: 100%;
    @include mobile{
      width: 120px;
    }
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .detail-address {
    font-size: 12px;
    margin-bottom: 5px;
    @include mobile {
      font-size: rem(14px);
    }
    i {
      padding-right: 2px;
      padding-left: 0;
      &:before{
        margin:0;
      }
    }
  }

  &.has-urgent {
    background:url(#{$imgUrl}/default-image/can-tuyen-gap.png) no-repeat;
    .card-block-top {
      padding-left: 50px;
      @include mobile{
        padding-left: 35px;
      }
    }
  }
}