/* ==========================================================================
   Chart
   ========================================================================== */
.box-money-interest{
  h6{
    font-size: 12px;
  }
  span{
    font-size: 20px;
  }
}

.wrap-loans-calculator{
  h3{
    //font-size: 15px;
  }
  //width:350px;
  p{
    margin:0 0 10px;
  }
  .wrap-slide{
    margin-bottom: 15px;
    .noUi-horizontal{
      height:15px;
      margin:0 15px;
    }
    .noUi-handle{
      width:20px;
      height:20px;
      top:-4px;
      &::before, &::after{
        top:3px;
        height:12px;
      }
      &::before{
        left:6px;
      }
      &:after{
        left:11px;
      }
    }
    .noUi-connect{
      background-color:#ffb300;
    }
  }
}

.chart-canvas canvas{
  max-width:350px;
  max-height:300px;
  margin:auto;
}