/* ==========================================================================
   Compose extra
   ========================================================================== */
.compose-extra {
	position: relative;
    border: 1px solid $compose-extra-color-border;
    .img {
        width: 65px;
        @include mobile {
            width: 100px;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    .description {
        width: calc(100% - 135px);
        padding: 15px 10px;
        @include mobile {
            width: calc(100% - 200px);
            padding: 20px 15px;
        }
        header {
            position: relative;
        }
        h6 {
            color: $compose-extra-color;
            font-size: rem(14px);
        }

        p {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }
    .custom-select-option {
        min-width: 170px;
        padding: 0;
        @include small {
            position: absolute;
            top: -3px;
            right: 0px;
            padding: 0 10px;
        }
        .option-select{
            background:#f1f1f1;
        }
        li{
            color: #9e9e9e;
            font-weight: 500;
        }
    }
    .add {
        width: 70px;
        text-align: center;
        @include mobile {
            margin-top: 15px;
            width: 100px;
            border-left: 1px solid $compose-extra-color-border;
        }
        button {
            width: 50px;
            height: 40px;
            margin: auto;
            border: 1px solid $compose-extra-bg-button;
            border-radius: 15px;
            @include vertical-middle(absolute);
            background: transparent;
            color: $compose-extra-bg-button;
            transform: all .5s;
            cursor: pointer;
            padding: 0;
            right:10px;
            @include mobile {
                width: 66px;
            }
            i {
                font-size: rem(18px);
                opacity: 0;
            }
            &.active {
                background: $compose-extra-bg-button;
                i {
                    opacity: 1;
                    color: #fff;
                }
                &:after {
                    opacity: 0;
                }
            }
            &:after {
                content: "Thêm";
                display: block;
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
                line-height: 40px;
                background-image: none;
                width: 100%;
                margin: 0;
                position: absolute;
                font-size: 12px;
                top: 0;
                left: 0;
            }
        }
    }
}

.compose-extra-large {
    .img {
        width: 65px;
        @include mobile {
            width: 128px;
        }
    }
    .description {
        width: calc(100% - 135px);
        @include mobile {
            padding: 15px;
            width: calc(100% - 228px);
        }
    }
}
