/* ==========================================================================
   Custom select
   ========================================================================== */
.custom-select-option{
	position: relative;
	.btn-select{
		cursor:pointer;
	}
	.option-select{
		display:none;
		position: absolute;
		z-index: 10;
		top: 100%;
		list-style: none;
		padding-left:0;
		left: 0;
		width: 100%;
		li{
			cursor:pointer;
		}
	}
}
.custom-select {
	font-family: $primary-font;
}
.custom-select-style{
	padding:0 10px;
	font-size: rem(14px);
	font-weight: 700;
	a{
		color:$compose-extra-bg-button;
		i{
			color: #9e9e9e;
		}
	}
	.option-select{
		background:$custom-sl-bg;
		li{
			padding:2px 10px;
			border-bottom: 1px solid $custom-sl-color-border;
			color:#fff;
			&:last-child{
				border-bottom:0;
			}
		}
	}
}

.select-style-full{
	width:100%;
	border-radius:0;
	option{
		padding:10px;
	}
}