/* ==========================================================================
   Custom upload image
   ========================================================================== */
.row-upload-img .note{
    transform: translateY(-25px);
}
.upload-img-post {
    ul {
         //margin: auto;
        // text-align: center;
        @include mobile{
            margin-left: -5px;
        }
    }
    li {
        width: 120px;
        height: 120px;
        background-color: #f1f1f1;
        display: inline-block;
        position: relative;
        margin: 0 5px 10px;
        vertical-align: top;
        @include mobile{
            width: 108px;
            height: 108px;
        }
        @include small{
            width: 109px;
            height: 109px;
        }
        i.ion-camera {
            font-size: rem(36px);
            left: 0;
            right: 0;
            text-align: center;
            color: #fff;
            @include vertical-middle(absolute);
        }
        img {
            @include vertical-middle(absolute);
            left: 0;
            right: 0;
            margin: auto;
        }
        &.upload-image-disabled{
        	cursor:normal;
        }
        &.success {
        	&:hover{
        		cursor:move;
        	}
            .progress {
                opacity: 0;
            }
        }
        .progress {
            @include vertical-middle(absolute);
            left: 5px;
            right: 5px;
            transition: all .35s;
            .progress-bar {
                height: .5rem;
                transition: all .25s;
            }
        }
        &.upload-begin {
            cursor: pointer;
            i.ion-camera {
                color: $sub-color;
            }
        }
        &.upload-star {
            i.ion-camera {
                display: none;
            }
        }
        .remove-img {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 2;
            i {
                font-size: 17px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }
    #file-upload {
        display: none;
    }
    .btn-upload{
    	cursor:pointer;
    }
}
