/* ==========================================================================
   Custom Tab
   ========================================================================== */
.tab-custom{
	background:#fff;
	.nav{
		border-bottom:1px solid $border-color;
	}
	.nav-item{

	}
	.nav-link{
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
		position: relative;
		&:after{
			content:"";
			position: absolute;
			bottom:-4px;
			left: 1rem;
			right:1rem;
			margin:auto;
			height:3px;
			background:$sub-color;
			width:0;
		}
		&:hover{
			color:$sub-color;
		}
		&.active{
			color:$sub-color;
			&:after{
				width: calc(100% - 2rem);
			}
		}
	}
}

