/* ==========================================================================
   cumstom radio checkbox
   ========================================================================== */
.custom-control-indicator{
	background-color:#fff;
	border:2px solid #000;
}
.custom-radio .custom-control-indicator{
	width:25px;
	height:25px;
}
.custom-control-input:checked ~ .custom-control-indicator {
	border:none;
	color:#fff;
}
.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
    background-image: url(#{$imgUrl}/icon/radio.png);
	background-repeat:no-repeat;
	color:transparent;
	background:transparent;
}

.custom-checkbox  .custom-control-indicator{
	width:16px;
	height:16px;
	border-radius:0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator{

}

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}
.custom-radio-inline{
	display: inline-block;
}
.custom-radio .custom-control-indicator, .custom-checkbox .custom-control-indicator{
    position: static;
    @extend %display-vertical-middle;
    margin-right: .25rem;
}
.custom-radio .custom-control-description, .custom-checkbox .custom-control-description{
	@extend %display-vertical-middle;
}


// .checkbox-style1
.checkbox-style1{
	.custom-control-indicator{
		margin-right:20px;
		margin-top:20px;
	}
	.custom-control-description{
		font-size: 12px;
		strong{
			font-size: 14px;
		}
	}
}