/* ==========================================================================
   feature-packages
   ========================================================================== */

.feature-packages {
    @include mobile {
        &:hover {
            transform: translateY(-5px);
            box-shadow: $box-shadow;
            .feature-packages-header {
                -webkit-animation: up-bump .3s ease;
                animation: up-bump .3s ease;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
        }
    }
}

.feature-packages-header {
    background: url(#{$imgUrl}/default-image/bg-feature-packages.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    color: $white;
    height: 150px;
    padding: 25px;
    @include mobile {
        height: 170px;
    }
    @include large {
        height: 150px;
    }
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    h4,
    p {
        position: relative;
        z-index: 1;
    }
    h4 {
        margin-bottom: 5px;
    }
    .feature-packages-star {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        z-index: 1;
        font-size: rem(24px);
    }
}

.feature-package-content {
    background: $feature-packages-background;
    padding: 10px 0 73px;
    position: relative;
    min-height: 370px;
    @include mobile {
        padding: 18px 0 73px;
    }
}

.feature-package-description {
    border-bottom: 1px solid #f5f5f5;
    min-height: 65px;
    .view {
        font-size: rem(16px);
        margin-bottom: 10px;
    }
}

.feature-package-features {
    margin-bottom: 32px;
    li {
        color: $feature-packages-color;
        @include mobile {
            border-bottom: 1px solid #f5f5f5;
            padding: 7px 15px;
        }
    }
}

.feature-package-preview {
    display: none;
    @include mobile {
        display: block;
        font-weight: 500;
        color: $feature-packages-color;
        margin-bottom: 12px;
    }
}

.feature-package-button {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    .btn-secondary {
        font-weight: 700;
        padding: .625rem 1rem;
        display: block;
        width: 100%;
        font-size: rem(14px);
        cursor: pointer;
        position: relative;
        background: #fff;
        @include mobile {
            &.btn-select {
                color: $feature-packages-free-color;
                margin-bottom: 0;
                &:hover {
                    color: #fff;
                }
            }
        }
        @include mobile {
        &.active {
             color: #fff;
            i {
                display: block;
            }
        }
    }
    }
    i {
        font-size: rem(19px);
        right: 7%;
        @include vertical-middle(absolute);
        display: none;
        @include large{
            right: 15%;
        }
    }
    
}

// feature-packages-free
.feature-packages-free {
    .feature-packages-header:after {
        background: $feature-packages-free-bg;
    }
    .feature-package-description .view {
        color: $feature-packages-free-color;
    }
    @include mobile {
        .feature-package-preview:hover {
            color: $feature-packages-free-color;
        }
        .feature-package-button {
            .btn-secondary.active {
                background: $feature-packages-free-color;
            }
        }
    }
    .btn-secondary {
        color: $feature-packages-free-color;
        border-color: $feature-packages-free-color-border;
        @media (max-width: 576px) {
            &.btn-select {
                background: $feature-packages-free-color;
                color: #Fff;
                margin-bottom: 12px;
            }
        }
        @include mobile {
            &:hover {
                background: $feature-packages-free-color;
            }
        }
    }
}

// feature-packages-plus
.feature-packages-plus {
    .feature-packages-header:after {
        background: $feature-packages-plus-bg;
    }
    .feature-package-description .view {
        color: $feature-packages-plus-color;
    }
    @include mobile {
        .feature-package-preview:hover {
            color: $feature-packages-plus-color;
        }
        .feature-package-button {
            .btn-secondary.active {
                background: $feature-packages-plus-color;
            }
        }
    }
    .btn-secondary {
        color: $feature-packages-plus-color;
        border-color: $feature-packages-plus-color-border;
        @media (max-width: 576px) {
            &.btn-select {
                background: $feature-packages-plus-color;
                color: #Fff;
                margin-bottom: 12px;
            }
        }
        @include mobile {
            &:hover {
                background: $feature-packages-plus-color;
            }
        }
    }
}

// feature-packages-featured
.feature-packages-featured {
    .feature-packages-header:after {
        background: $feature-packages-featured-bg;
    }
    .feature-package-description .view {
        color: $feature-packages-featured-color;
    }
    @include mobile {
        .feature-package-preview:hover {
            color: $feature-packages-featured-color;
        }
        .feature-package-button {
            .btn-secondary.active {
                background: $feature-packages-featured-color;
            }
        }
    }
    .btn-secondary {
        color: $feature-packages-featured-color;
        border-color: $feature-packages-featured-color-border;
        @media (max-width: 576px) {
            &.btn-select {
                background: $feature-packages-featured-color;
                color: #Fff;
                margin-bottom: 12px;
            }
        }
        @include mobile {
            &:hover {
                background: $feature-packages-featured-color;
            }
        }
    }
}

// feature-packages-featured
.feature-packages-premium {
    .feature-packages-header:after {
        background: $feature-packages-premium-bg;
    }
    .feature-package-description .view {
        color: $feature-packages-premium-color;
    }
    @include mobile {
        .feature-package-preview:hover {
            color: $feature-packages-premium-color;
        }
        .feature-package-button {
            .btn-secondary.active {
                background: $feature-packages-premium-color;
            }
        }
    }
    .btn-secondary {
        color: $feature-packages-premium-color;
        border-color: $feature-packages-premium-color-border;
        @media (max-width: 576px) {
            &.btn-select {
                background: $feature-packages-premium-color;
                color: #Fff;
                margin-bottom: 12px;
            }
        }
        @include mobile {
            &:hover {
                background: $feature-packages-premium-color;
            }
        }
    }
}

.price-table {
    position: relative;
}

// price-table-desktop
.price-table-desktop {
    @media (max-width: $mobile + 1) {
        position: fixed;
        top: 50%;
        left: 10px;
        z-index: 30;
        width: 100%;
        display: none;
        transform: translateY(-50%);
        background: $compose-post-page-background;
    }
    .list-price-table {
        width: 1110px;
        @include mobile {
            width: auto;
        }
    }
    &.show{
        @media (max-width: $mobile + 1) {
            display:block;
        }
    }
}

// price-table-mobi
.price-table-mobi {
    .feature-packages {
        background: #fff;
        margin-bottom: 10px;
        position: relative;
        &.active {
            border: 1px solid transparent;
        }
    }
    .feature-packages-header {
        width: 85px;
        height: auto;
        padding: 0;
        background-position: center right -5px;
        float: left;
    }
    .feature-package-info {
        font-size: rem(24px);
        color: $gray-lighter;
        width: 40px;
        @include vertical-middle(absolute);
        right: 0;
        cursor: pointer;
    }
    .feature-package-description {
        width: calc(100% - 125px);
        float: left;
        padding: 15px;
        border-bottom: 0;
        h4,
        h3 {
            font-size: 16px;
        }
        h4 {
            font-weight: 500;
            margin-bottom: 6px;
        }
        p {
            font-size: 10px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    // acive
    .feature-packages-free.active {
        border-color: $feature-packages-free-color;
    }
    .feature-packages-plus.active {
        border-color: $feature-packages-plus-color;
    }
    .feature-packages-featured.active {
        border-color: $feature-packages-featured-color;
    }
    .feature-packages-premium.active {
        border-color: $feature-packages-premium-color;
    }
}
