/* ==========================================================================
   Custom Form
   ========================================================================== */
.form-control::placeholder,
.form-control::-moz-placeholder{
	font-family: Quicksand,sans-serif;
	color:$web-color;
	text-overflow: ellipsis;
}
.module{
	font-weight:$module-font-weight;
	background:$module-bg;
	fieldset{
		border-bottom:1px solid $module-color-border;
		&:last-child{
			border-bottom:0;
		}
	}
	label{
		font-size:rem(14px);
	}
	.form-control::placeholder,
	.form-control::-moz-placeholder{
		font-weight:500;
		font-size:12px;
	}
	a:hover{
		color: $primary-color;
	}
}
.module-header{
	border-bottom:1px solid $module-color-border;
	h6{
		margin-bottom:0;
	}
	.click-hidde-form{
		color:$sub-color;
	}
}
.note{
	background:$note-bg;
	color:$note-color;
	font-size:$note-font-size;
	.icon-note{
		font-size:rem(24px);
		@extend %display-vertical-middle;
		width: 45px;
	}
	p{
		width: calc(100% - 50px);
		@extend %display-vertical-middle;
		margin-bottom:0;
	}
}

