/* ==========================================================================
   Form-select-location-bank
   ========================================================================== */
.form-select-location-bank{
	.custom-select{
		border-radius:0;
		option{
			padding:10px 15px;
		}
	}
	.custom-control{
		padding-left:0;
	}
	.custom-control-indicator{
		border-color:#9e9e9e;
		padding-right:5px;
	}
	.custom-control-description{
		color:#9e9e9e;
	}
}
.box-list-location-bank{
	.title{
		font-size: 16px;
		font-weight: 700;
		padding-bottom: 10px;
		border-bottom:1px solid #e1e1e1;
	}
	ul{
		height:195px;
		overflow-x:hidden;
		overflow-Y:scroll;
	}
	li{
		font-weight: 700;
		a{
			color: #424242;
		}
		p{
			font-size: 14px;
		}
	}
}