/* ==========================================================================
   Form  Contact
   ========================================================================== */
.form-contact{
	label{
		font-weight: 500;
	}
}