/* ==========================================================================
   Form Search Support
   ========================================================================== */
.form-search-support{
	input{
		border:none;
	}
	.input-group-btn{
		.btn{
			border-radius: 0;
		}
		i{
			font-size: 24px;
		}
	}
}