/* ==========================================================================
   Price Proposal
   ========================================================================== */
.form-price-proposal{
  display: none;
  margin-bottom: 15px;
  .input-group-addon,
  .form-control,
  .btn-secondary{
    border-color:$sub-color;
  }
  .input-group-addon{
    color: $primary-color;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
  }
  .form-control,
  .btn-secondary{
    //border-left:0px;
  }
  .btn-secondary{
    color: #9e9e9e;
    font-weight: 700;
    cursor: pointer;
  }
}