/* ==========================================================================
   Group Nav
   ========================================================================== */

.group-nav {
    margin-bottom: 0;
    background: $profile-nav-background;
    li {
        border-bottom: 1px solid $profile-nav-color-border;
    }
    i {
        width: 25px;
        min-height: 27px;
        font-size: $profile-nav-font-size-icon;
        @extend %display-vertical-middle;;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    a {
        display: block;
        padding: 5px 15px;
        color: $profile-nav-color;
        font-size: 13px;
        @include small{
            font-size: 12px;
        }
        &:hover {
            color: $profile-nav-color-hover;
        }
    }
}

