/* ==========================================================================
   Item save search
   ========================================================================== */
.item-save-search{
  background-color: #f7f7f7;
  padding:15px;
  margin:15px 0;
  border:1px solid transparent;
  transition:all 0.5s;
  position: relative;
  a{
    color:#9e9e9e;
  }
  &-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color:$sub-color;
  }
  li{
    font-weight:500;
  }
  i{
    font-size: 16px;
    min-width: 16px;
    &:before{
      margin:0;
    }
  }
  &:hover{
    border-color:$sub-color;
    background: #fff;
  }
  .btn-delete{
    position: absolute;
    display: none;
    top:10px;
    right:10px;
    &:hover{
      color:$sub-color;
    }
  }
}