/* ==========================================================================
   Item Support
   ========================================================================== */
.item-support{
	text-align: center;
	.icon{
		width: 110px;
		height: 110px;
		background:#6dcff6;
		border-radius:50%;
		margin: auto;
	    line-height: 110px;
	}
	.descrition{
		p{
			font-weight:500;
			margin:0;
		}
	}
}