/* ==========================================================================
   List message
   ========================================================================== */
.item-talk{
	.talk-image{
		width: 100%;
		@include small{
			width: 142px;
		}
		img{
			width: 60px;
			height:60px;
			@include small{
				width:auto;
				height:auto;
			}
		}
		p{
			font-size:rem(14px);
			margin-bottom: 5px;
			&.price{
				color:$primary-color;
			}
		}
	}
	.talk-content{
		background:#fafafa;
		@include small{
			width: calc(100% - 142px - 30px);
			margin-left:30px;
		}

	}
	header{
		border-bottom:1px solid  $border-color;
		img{
			width:27px;
			height: 27px;
			border-radius: 5px;
		}
		.name{
			font-size:14px;
			padding-left:10px;
			color:$web-color;
		}
		.delete{
			font-size: 18px;
			color:$gray;
			padding-left:20px;
		}
		span{
			font-size: 12px;
			color:$sub-color;
		}
	}
	.talk-description{
		width:100%;
		height: 100%;
		font-weight: 500;
		cursor: pointer;
		p{
			font-size:12px;
		}
	}
}