/* ==========================================================================
   Maps
   ========================================================================== */

#gmap {
    // width: 100%;
    height: 840px;
    // height:100vh;
    position: relative;
}



.custom-gmap{
    top:0;
    right:0;
    //z-index: -1;
    position: absolute;

}
.close-map{
    position: fixed;
    top:45px;
    right:15px;
    background: $sub-color;
    z-index:30;
    display: none;
    color:#fff;
    font-size: 17px;
    width: 24px;
    text-align: center;
    line-height:24px;
}
.room-price-pin {
    display: block;
    position: absolute;
    .marker-number{
        background: url(#{$imgUrl}/icon/markers.png) no-repeat;
        width:24px;
        height:32px;
        text-align: center;
        line-height: 27px;
        color: #fff;
        display: block;
    }
}
.wrap-marker{
    position: relative;
    width: 170px;
    .info{
        display: none;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        color:#000;
        position: absolute;
        left:-50%;
        bottom: 50px;
        padding: 10px;
        z-index: 10;
        &:after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 8px 0 8px;
            border-color: #fff transparent transparent transparent;
            position: absolute;
            bottom:-12px;
            content:"";
            left: 35%;
        }
        &.active{
            display: block;
        }
        h5{
            font-size: 13px;
        }
    }
}