/* ==========================================================================
   Message
   ========================================================================== */

.box-message{
    width: 100%;
    // height: 100%;
    background:#fafafa;
    //display:none;
    .phone {
        height: 60%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* Messages baloon */

.message {
    margin: 10px 0;
    overflow: hidden;
    .message-text {
        padding: 15px 20px;
        float: right;
        clear: both;
        border-radius: 15px;
        position: relative;
        margin-bottom: 1px;
        font-weight: 500;
        margin-bottom: 20px;
        p{
            margin-bottom:0;
        }
        &:last-child {
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 35px;
                height: 25px;
                z-index: 1;
            }
        }
        .time-msg{
            position: absolute;
            bottom: -20px;
            z-index: 1;
            font-size: 11px;
            color: #9e9e9e;
            min-width: 85px;
            font-weight:700;
        }
    }
    &.left {
        .message-text {
            margin-right: 20px;
            margin-left: 20px;
            background-color: $gray-lighter;
            float: left;
            @include small{
                margin-right: 120px;
            }
            &:before,
            &:after {
                border-radius: 0 0 50% 0;
            }
            &:before {
                height: 20px;
                left: -23px;
                background-color: $gray-lighter;
            }
            &:after {
                left: -35px;
                bottom: -3px;
                background:#fafafa;
            }
            .time-msg{
                left:20px;
            }
        }
    }
    &.right {
        .message-text {
            margin-left: 20px;
            margin-right: 20px;
            background-color: #fff3e0;
            float: right;
             @include small{
                margin-left: 120px;
             }
            &:before,
            &:after {
                border-radius: 0 0 0 50%;
            }
            &:before {
                height: 20px;
                right: -23px;
                background-color: #fff3e0;
            }
            &:after {
                right: -35px;
                bottom: -3px;
                 background:#fafafa;
            }
            .time-msg{
                right:20px;
            }
        }
    }
}

.send-message {
    padding: 0 16px 10px;
    .send-input {
        border: 1px solid $border-color;
        background-color: #fff;
        padding: 10px;
        font-size: 12px;
        color:$gray;
        width: 100%;
    }
}
