/* ==========================================================================
   Modal reply composer
   ========================================================================== */
#modal-reply-composer{
  .modal-body{
    padding:15px;
  }
  .alert-succefull{
    border-radius: 15px;
    padding:15px;
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    i{
      font-size: 48px;
      color:$sub-color;
    }
  }
  .card-horizontal{
    width:100%;
    .card-img-top{
      width: 122px;
    }
    .card-block{
      padding-left: 15px;
      width:calc(100% - 122px);
    }
    .card-title{
      font-size: 14px;
    }
    .card-price{
      font-size: 16px;
    }
    .card-time{
      font-weight: 500;
      color: #9e9e9e;
      position: absolute;
      bottom:0;
      left:137px;
    }
  }
}