/* ==========================================================================
   Modal send successful
   ========================================================================== */
.modal-send-suscessful{
  .modal-body{
    padding:30px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    img{ margin-left: 10px;}
  }
}