/* ==========================================================================
   Modal list categories menu
   ========================================================================== */
#modal-list-categories-menu{
  .has-child-dropdown{
    font-size:rem(14px);
    font-weight:500;
    border-top:0;
    border-bottom:$list-dropdown-width-border solid $list-dropdown-color-border;
    &:first-child{
      border-top:$list-dropdown-width-border solid $list-dropdown-color-border;
    }
    a{
      padding-top:14px;
      padding-bottom:14px;
    }
    i:not(.ion-ios-arrow-down) {
      font-size:rem(20px);
      max-width: 30px;
      min-height: 39px;
      line-height:39px;
    }
    .ion-ios-arrow-down{
      font-size:rem(20px);
    }
    .has-child-dropdown{
      &:last-child{
        border-bottom:0;
      }
    }
  }
  .close{
    position: absolute;
    right: 15px;
  }
}