/* ==========================================================================
   Modal display composer
   ========================================================================== */
.modal-display-composer{
  .modal-body{
    padding:17px;
    p{
      font-size: 14px;
      font-weight: 700;
    }
    label{
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
      padding-left: 0;
      margin-bottom: 12px;
    }
  }
  .modal-footer{
    a{
      font-weight: 700;
      padding:10px 30px;
    }
  }
}