/* ==========================================================================
   Modal Package Preview
   ========================================================================== */
.modal-package-preview{
  .modal-dialog{
    max-width: 752px;
  }
  .btn{
    padding-top:15px;
    padding-bottom:15px;
  }
  .slick-arrow{
    font-size: 24px;
    color:#fff;
    position: absolute;
    top:40%;
    transform:translateY(-50%);
    z-index:9;
    cursor: pointer;
    &.slick-next{
      right:10px;
    }
    &.slick-prev{
      left:10px;
    }
  }

}

#feature-packages-free .modal-package-preview-button .btn-primary{
  background: #636363;
  border-color: #636363;
}
#feature-packages-featured .modal-package-preview-button .btn-primary{
  background: #0099cc;
  border-color: #0099cc;
}
#feature-packages-plus .modal-package-preview-button .btn-primary{
  background: #8560a8;
  border-color: #8560a8;
}
#feature-packages-premium .modal-package-preview-button .btn-primary{
  background: #f26522;
  border-color: #f26522;
}
.modal-package-preview-button .btn-primary{
  color:#fff;
  transition: all .3s;
  &:hover{
    box-shadow: 1px 0 8px rgba(0,0,0,.25);
  }
}