/* ==========================================================================
   Modal send message
   ========================================================================== */
#modal-send-message{
  form{
    .form-group{
      padding:0 15px;

    }
    .form-control::placeholder,
    {
      color:$gray;
    }
    .form-control::-moz-placeholder{
      color:$gray;
    }
    .btn-submit{
      padding-top: 15px;
      border-top:1px solid $border-color;
    }
    button{
      margin: 0 15px 15px;
      padding:6px 20px;
      cursor: pointer;
    }
    .form-control{
      border:none;
    }
    textarea{
      resize:none;
    }
  }
}
