/* ==========================================================================
   Modal header topbar right
   ========================================================================== */
#modal-header-topbar-right{
  .group-profile-nav{
    display:block;
    li{
      font-size:rem(14px);
      font-weight:500;
    }
    i{
      font-size:rem(26px);
      width: 35px;
      min-height: 39px;
      line-height:39px;
    }
  }
}