/* ==========================================================================
   Reoport
   ========================================================================== */
.modal-report{
	.modal-header{
		background:#fafafa;
	}
	.modal-title{
		color: #9e9e9e;
		font-size: 14px;
		font-weight: 700;
	}
	button.close{
		font-size:18px;
		color: #9e9e9e;
	}
	.modal-body{
		background:#fafafa;
		padding:10px 20px;
	}
	.list-report{
		
		a{
			display: block;
			padding:15px 0;
			border-bottom: 1px solid #e1e1e1;
			color: #9e9e9e;
			font-size: 14px;
			font-weight: 700;
			&:hover{
				background:#ffffff;
			}
		}
		li:last-child a{
			border-bottom:none;
		}
	}
}
#modal-report{
	.modal-dialog{
		max-width: 460px;
	}
}

#modal-report-step2{
	label{
		font-size: 12px;
		color: #9e9e9e;
		font-weight: 700;
	}
	input{
		margin-bottom: 15px;
	}
	.btn-submit{
		margin:auto;
		text-align: center;
	}
	.btn-submit button{
		height: 40px;
		font-size: 12px;
		width: 120px;
		cursor: pointer;
		line-height: 25px;
	}
	.form-control::placeholder{
		font-size: 12px;
		color: #9e9e9e;
		font-weight: 700;
	}
	.form-control::-moz-placeholder{
		font-size: 12px;
		color: #9e9e9e;
		font-weight: 700;
	}
	.modal-body{
		padding-bottom: 20px;
	}
}