/* ==========================================================================
   Main Menu
   ========================================================================== */

.wrap-main-navigation {
    background: $main-menu-background;
    max-height: 58px;
    //overflow: hidden;
    @include small{
        text-align:right;
    }
    .main-navigation {
        position: relative;
        margin-left: 0;
        padding-right:70px;
        @include small{
             margin-left: 165px;
             padding-right:0;
        }
        @include medium{
            margin-left: 0;
        }
    }
}

// main-menu
.main-menu {
    font-size: rem(11px);
    margin-bottom: 0;
    height: 57px;
    overflow: hidden;
    @include medium{
        height: auto;
        overflow: initial;
    }
    @include large {
        font-size: $main-menu-font-size;
    }
    .root-item {
        display:inline-block;
        vertical-align:top;
        position: relative;
        padding: 0 7px;
         @include large {
            padding: 0 12px;
         }
        > a {
            display: block;
            padding: 20px 0 17px;
            border-bottom: 3px solid transparent;
            text-transform: uppercase;
            font-weight: $main-menu-font-weight;
        }
        &:last-child {
            display: none;
            @include medium {
                display: inline-block;
                padding-right:0;
            }
            a {
                border-right: none;
            }
        }
        &:nth-last-child(2) {
            a {
                border-right-width: 0;
                @include medium {
                    border-right-width: 1px;
                }
            }
        }
        &:hover {
            @include medium {
                > a {
                    color: $main-menu-color-hover;
                    border-color:$main-menu-color-border;
                }
                > .sub-menu {
                    display: block;
                }
            }
        }
        &.active{
            > a {
                color: $main-menu-color-hover;
                border-color:$main-menu-color-border;
            }
            > .sub-menu {
                display: block;
            }   
        }
        & > .sub-menu {
            position: absolute;
            top: 100%;
            left: 10px;
            z-index: 20;
            background:$sub-menu-background;
            display: none;
            font-size:$sub-menu-size;
            text-align:left;
            li {
                font-weight: normal;
            }
        }
    }
}

// child-vertical
.child-vertical {
    padding: 0 0 5px;
    width: 100%;
    height: $child-vertical-height - 0px;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,.1);
    &:after {
        content: "";
        right: 0;
        width: 1px;
        right: 0;
        height: $child-vertical-height - 40px;
        background: $sub-menu-color-border;
        @include vertical-middle(absolute);
    }
    a {
        display: block;
        line-height: 30px;
        padding: 0 23px;
    }
    li {
        strong {
            border-top: 1px solid $sub-menu-color-border;
            width: 100%;
            display: block;
            margin-top: 8px;
            padding-top: 5px;
        }
        &:first-child {
            strong {
                border: none;
            }
        }
        &:hover {
            > a {
                color:$main-menu-color-hover;
            }
            .sub-menu {
                display: block;
            }
        }
    }
    .sub-menu {
        display: none;
    }
    .sub-menu-open .sub-menu {
        display: block;
    }
}

// child-horizontal
.child-horizontal {
    position: absolute;
    left: 100%;
    width: $child-horizontal-width;
    height: $child-vertical-height - 0px;
    background: $sub-menu-background;
    top: 0;
    padding: 20px 0 0;
    padding-right: 8px;
    box-shadow: 4px 5px 8px 0px rgba(0,0,0,.1);
    li {
        padding: 0 15px 30px;
        display: inline-block;
        width: 32.9%;
        min-width: 200px;
        height: calc(100% - 10px);
        overflow: hidden;
        &:hover a{
            color:$main-menu-color-hover;
            text-decoration:none;
        }
    }
    a {
        border: 1px solid $sub-menu-color-border;
        display: block;
        padding: 0;
    }
    img {
        display: block;
        margin: auto;
    }
    h4 {
        display: block;
        padding: 10px 20px;
        font-size: $sub-menu-size;
        text-align: center;
        margin: 0;
        font-weight:$sub-menu-font-weight;
        border-top: 1px solid $sub-menu-color-border;

    }
    &-heigt-auto{
        height: auto;
        li{
            padding-bottom: 15px;

        }
    }
}


// root item more
.root-item-more {
    right: 0;
    left: auto !important;
    width: $root-item-more-width;
    padding: 15px 10px;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,.1);
    li {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        a {
            padding: 5px 15px;
            display: block;
            &:hover {
                color:$main-menu-color-hover;
            }
        }
    }
}

// view-categories-url
.view-categories-url {
    font-size: $main-menu-font-size;
    font-weight: $main-menu-font-weight;
    line-height: 55px;
    position: absolute;
    cursor:pointer;
    top: 0;
    right: 0;
    z-index: 2;
    width: 81px;
    height: 56px;
    text-align: center;
    text-transform: uppercase;
    background: $view-categories-url-background;
    @include medium { 
        display:none;
     }
     &:hover{
        background:darken( $gray-lightest , 8%);
     }
}
