/* ==========================================================================
   Navigation
   ========================================================================== */
.box-pagination{
	text-align:center;
}
.pagination{
	li{
		margin:0 5px;
		font-weight: 500;
		&.previous a, &.next a{
			border-bottom:0;
		}
		i{
			font-size: 18px;
			color:$gray;
		}
		&.previous, &.next{
			font-weight:400;
		}
		&.active a{
			border-color: $panination-color-border;
		}
	}
	a{
		font-size: 14px;
		line-height: 30px;
		padding:7px;
		border-bottom:3px solid transparent;
		&:hover{
			border-color: $panination-color-border;
		}
	}
}