/* ==========================================================================
   Not News
   ========================================================================== */
.not-news{
	color:$gray;
	min-height:190px;
	.icon-lagre {
		display: block;
		i{
			font-size: 72px;
		}
	}
	strong{
		font-size:rem(16px);
		display: block;
	}
	p{
		font-size:11px;
		margin:0;
		
	}
}