/* ==========================================================================
   Option Parameter
   ========================================================================== */
.option-parameter{
  margin-bottom: 12px;
  &-title{
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 2px;
    display: block;
    font-size: 13px;
  }
  &-content{
    a{
      display: inline-block;
      vertical-align: middle;
      border:1px solid #e1e1e1;
      padding:8px 10px;
      font-size: 12px;
      font-weight: 500;
      transition: all .3s;
      background: #fff;
      margin-bottom: 5px;
      @include mobile{
        font-size: 13px;
      }
      &.active,
      &:active,
      &:hover{
        background: $sub-color;
        border-color:$sub-color;
        color:#Fff;
      }
    }
  }
}