/* ==========================================================================
   Partner
   ========================================================================== */
.section-partner{
	.title{
		font-size: 22px;
		font-weight: 400;
	}
	.btn{
		width:100%;
		@include mobile{
			width: auto;
		}
	}
}
.content-partner{
	height:165px;
	@include medium{
		height:auto;
	}
	@include large {
		.mCSB_horizontal.mCSB_outside>.mCSB_container{
			width: auto !important;
		}
	}
	li{
		width: 220px;
		padding:15px;
		float: left;
		height:160px;
		line-height: 120px;
		@include large{
			width: 20%;
		}
		a{
			border: 1px solid #e1e1e1;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}