/* ==========================================================================
   payment-status
   ========================================================================== */
.payment-status{
	p{
		font-size:14px;
		font-weight:500;
		margin-bottom:5px;
		@include mobile{
			margin-bottom:0;
		}
	}
	h6{
		font-size:12px;
		@include mobile{
			font-size:14px;
		}
	}
	span{
		color: #9e9e9e;
		font-size: 14px;
		font-weight: 500;
	}
	.text-payment-status{
		img{
			margin-top: -7px;
			margin-left: 10px;
		}
	}
}