/* ==========================================================================
   Payment history table
   ========================================================================== */
.payment-history-table{
  //display: table;
  .table thead th{
    min-width: 125px;
  }
}