/* ==========================================================================
   place-payment
   ========================================================================== */
.place-payment{
	.place-payment-title{
		font-weight: 500;
	}
	p{
		color: #9e9e9e;
		font-size: 14px;
	}
	.number-money{
		background:#cccccc;
	}
	a{
		color:$primary-color;
		&.history-payment{
			color:$sub-color;
		}
	}
}