/* ==========================================================================
   Preview Post
   ========================================================================== */
.box-post-privew{
	background-color: #fafafa;
	.btn{
		line-height: 21px;
		width: 100%;
		height: 40px;
		margin-right: 10px;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		display:block;
		margin-bottom:10px;
		@include mobile{
			width: 143px;
			display: inline-block;
			vertical-align: top;
			margin-bottom:0;
		}
		&.btn-secondary{
			color: #9e9e9e;
		}
	}
}