/* ==========================================================================
   Refine Filter
   ========================================================================== */
.refine-header{
	font-weight:700;
	position: relative;
	cursor: pointer;
	display: inline-block;
	width:100%;
	padding:10px 0;
	@include small{
		padding: 15px 0;
	}
	@include medium{
		border-bottom:1px solid $refine-filter-color-border;
	}
	&:after{
		position: absolute;
		content:"\F104";
		top:10px;
		//right:-25px;
		right:0;
		color:$gray;
		font-size: 16px;
		font-family: ionicons;
		@include small{
			font-size:0;
			top:16px;
		}
	}
}

.refine-search{
	display: none;
	@include medium{
		display: block;
	}
	&-header{
		display: none;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #e1e1e1;
		h5{
			font-size: 20px;
		}
		.close {
			font-size: 20px;
			position: absolute;
			top: 15px;
			right: 10px;
		}
	}
	&-show{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #fff;
		z-index: 99;
		display: block;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 20px 10px;
		.refine-search-header{
			display: block;
		}
	}
	//@media (max-width: 991px){
	//	display:none;
	//	position: absolute;
	//	top: 45px;
	//	//left: 15px;
	//	//width:calc(100% - 30px);
	//	width: 100%;
	//	left: 0;
	//	right: 0;
	//	padding: 0 15px;
	//	z-index: 20;
	//	background:#f5f5f5;
	//	height:100%;
	//}
}

.module-refine{
	border-bottom:1px solid $refine-filter-color-border;
	.title{
		font-size: 14px;
		font-weight: 700;
		position: relative;
		padding-left:20px;
		padding:10px 0;
		display: block;
		i{
			@include vertical-middle(absolute);
			left: 0;
			font-size:14px;
		}
	}
	ul{
		@extend %list-unstyled ;
		padding-left:20px;
		margin-bottom:10px;
	}
	li {
		> a{
			font-weight: 400;
			line-height: 24px;
			color:$refine-filter-color;
			display:block;
			font-size: 13px;
			&:hover{
				//color:darken($refine-filter-color, 15%);
				color: $primary-color;
			}
		}
		&.active > a{
			font-weight: 700;
			color:$primary-color;
		}
	}
}
.price-refine{
	.row{
		margin-left:-5px;
		margin-right:-5px;
	}
	.col-4{
		padding-left:5px;
		padding-right:5px;
	}
	.btn{
		padding:.6rem .75rem;
		//padding:0;
	}
}

