/* ==========================================================================
   Repost Post
   ========================================================================== */
.report-post{
  background:$sub-bg-color;
  border: 1px solid $border-color;
  padding:15px;
  button{
    width: 100%;
    margin:auto;
    display: block;
    margin-bottom: 18px;
    cursor:pointer;
    @include small{
      margin-bottom: 0;
      margin-top: 18px;
    }
    @include large{
      width: 70%;
    }
  }
  p{
    margin-bottom:0;
    font-weight:500;
    color: $gray;
    a{
      color:$primary-color;
    }
  }
}