/* ==========================================================================
   Scroll Tools
   ========================================================================== */

// custom scroll  menu
.wrap-main-navigation {
    .mCustomScrollBox,
    .mCSB_container {
        @include medium {
            overflow: initial;
        }
    }
    .sub-menu {
        .mCustomScrollBox,
        .mCSB_container {
            overflow: hidden;
        }
    }
    .mCSB_horizontal.mCSB_inside > .mCSB_container {
        margin-bottom: 0;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
        top: 1px;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        height: 8px;
    }
    .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        margin: 0;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
        margin: 0 auto;
        background: $gray-lighter;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        border-radius: 0;
    }
}

// custom scroll submenu 
.sub-menu .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.sub-menu .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.sub-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: $border-color!important;
    width: 3px;
}

// custom scroll tabs-favorite home
.tabs-favorite {
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
        background: $gray-lighter;
        margin-top: 15px;
    }
    @include mobile {
        .mCSB_horizontal.mCSB_outside > .mCSB_container {
            width: auto !important;
            overflow: initial;
            position: initial !important;
        }
        .mCustomScrollBox {
            position: initial !important;
        }
        .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
            background: transparent;
            margin-top: 0;
        }
    }
}

@include mobile {
    .price-table-desktop {
        .mCSB_scrollTools.mCSB_scrollTools_horizontal {
            display: none !important;
        }
        .mCSB_horizontal.mCSB_inside > .mCSB_container {
            left: 0 !important;
            width: auto !important;
        }
        .mCSB_container, .mCustomScrollBox{
            overflow:inherit;
        }
        .mCSB_horizontal.mCSB_inside > .mCSB_container{
            margin-bottom:0;
        }
    }
}
