/* ==========================================================================
   Signin url mobi
   ========================================================================== */
.signin-url-mobi{
  padding: 13px 0;
  a{
    border:1px solid transparent;
    border-radius:15px;
    text-align:center;
    display:block;
    padding:10px;
  }
  div{
    @extend %display-vertical-middle;
    padding:0 10px;
    width:49%;
    &.login-url a{
      border-color: $primary-color;
      color:$primary-color;;
    }
    &.register-url a{
      border-color:$sub-color;
      color:$sub-color;
    }
  }
}