/* ==========================================================================
   slider-categries
   ========================================================================== */
.slider-categries {
    display: none;
    max-height: 47px;
    overflow: hidden;
    @include mobile {
        display: block;
        background: $slider-categries-background;
        padding: 15px 0;
    }
    @include medium {
        position: absolute !important;
        width: 100%;
        bottom: 0;
        left: -15px;
    }
    a {
        color: $slider-categries-color;
        font-weight: 400;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
    .slick-slide {
        padding: 0 10px;
    }
    .slick-arrow {
        @include vertical-middle(absolute);
        background: $slider-categries-background;
        z-index: 1;
        font-size: rem(18px);
        width:25px;
        color:rgba(#fff, 0.8);
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
}
