/* ==========================================================================
   slider-real-estate
   ========================================================================== */
.slider-real-estate{
	margin:0 -15px;
	.card-post{
		margin:0 15px;
	}
	.card-img-top{
		img{
			width: 100%;
			height:auto;
		}
	}
	.slick-dots{
		list-style:none;
		padding:0;
		text-align: center;
		margin:30px 0;
		li{
			display: inline-block;
			vertical-align: top;
			background:transparent;
			border:1px solid $sub-color;
			width:9px;
			height:9px;
			border-radius:50%;
			margin: 0px 2px;
			&.slick-active{
				background:$sub-color;
			}
		}
		button{
			display:none;
		}
	}
}