/* ==========================================================================
   Submit-payment-error
   ========================================================================== */
.submit-payment-error{
	padding:30px 10px;
	@include mobile{
		padding:150px 30px;
	}
	p{
		font-size: 14px;
		font-weight: 500;
		&.text2{
			color: red;
		}
		a{
			font-weight: 700;
			color: $sub-color;
			font-size: 16px;
		}
	}
}