/* ==========================================================================
   Support Tab Circle
   ========================================================================== */
.support-tab-circle{
	margin-top:20px;
	@include mobile{
		margin-top: 0;
	}
	.nav{
		margin-bottom: 20px;
		@include mobile{
			margin-bottom: 40px;
		}
	}
	.card-support-icon{
		width: 80px;
		height: 80px;
		background-color:$gray;
		display: block;
		line-height: 80px;
		i{
			font-size: 40px;
			@include mobile{
				font-size: 50px;
			}
		}
		@include mobile{
			width: 110px;
			height: 110px;
			line-height: 110px;
		}
	}
	.card-support-title{
		font-weight: 700;
		font-size: 12px;
		@include mobile{
			font-size:14px;
		}
	}
	.active,.nav-item:hover{
		.card-support-icon{
			background-color: $sub-color;
		}
	}
	.tab-content{
		h6{
			font-weight: 500;
			border-bottom: 1px solid $sub-color;
			padding-bottom: 7px;
			margin-bottom: 20px;
			display: inline-block;
			font-size: 14px;
			@include mobile{
				font-size: 16px;
			}
		}
	}
}