/* ==========================================================================
   Tabs
   ========================================================================== */

.tabs-favorite {
    background: $tabs-favorite-background;
    @include medium {
        border: 1px solid $tabs-favorite-color-border;
    }
    .nav-item {
        text-align: center;
        float: left;
        width: 33.33%;
        border-top: 1px solid $tabs-favorite-color-border;
        @include medium {
            text-align: left;
            float: none;
            width: 100%;
        }
        a {
            display: block;
            background: $tabs-favorite-nav-item-background;
            font-weight: 500;
            padding: 10px 5px 20px;
            border-right: 1px solid $tabs-favorite-color-border;
            border-bottom: 1px solid $tabs-favorite-color-border;
            font-size: rem(10px);
            @include mobile {
                font-size: inherit;
                line-height: 70px;
                padding: 0 10px;
            }
            @include medium {
                border-bottom: 5px solid transparent;
                // border-bottom: 0;
            }
            @include large {
                padding: 0 25px;
                line-height: 78.5px;
            }
            &.active {
                background: $tabs-favorite-background;
                color: $tabs-favorite-active-color;
                border-bottom-color: transparent;
                @include medium {
                    border-bottom-color: $tabs-favorite-active-color;
                    border-right-color: transparent;
                }
            }
            &:hover {
                background: $white;
                @include medium {
                    border-right-color: transparent;
                }
            }
        }
        i {
            display: block;
            font-size: rem(24px);
            @include mobile {
                font-size: rem(20px);
                display: inline-block;
                vertical-align: sub;
                min-width: 20px;
                line-height: 45px;
            }
            @include large {
                min-width: 40px;
                font-size: rem(30px);
            }
        }
        &:first-child {
            @include medium {
                border-top-color: transparent;
            }
            a {
                border-left: 1px solid $tabs-favorite-color-border;
            }
        }
    }
    .tab-content {
        padding: 0 15px;
        position: relative;
        @include medium {
            padding: 0 30px 0 15px;
        }
        .not-news{
            
            margin:auto;
            @include medium{
                position: absolute;
                top:50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
    .tab-pane {
        position: initial !important;
        @include medium{
            margin-left: -15px;
        }
        .list-post-card {
            @media (max-width: 575px) {
                width: 1370px;
            }
        }

    }
}

