/* ==========================================================================
   Tag
   ========================================================================== */
.box-tag{
	.title-tag{
		font-size: 14px;
		font-weight: 500;
		margin: 0 0 10px;
	}
}
.list-tag {
    a {
        font-size: 12px;
        font-weight: 700;
        margin: 0 2px 6px;
        padding: 7px 6px;
        color: #9e9e9e;
        background: $gray-lighter;
        border-radius: 3px;
        @extend %display-vertical-middle;
        transition: background 0.3s;
        &:nth-child(n+12){
          display: none;
        }
    	&:hover{
    		background:$sub-color;
    		color:#fff;
    	}
    }
}
