/* ==========================================================================
   Upload Avata
   ========================================================================== */

.modal-upload-avata {
	overflow: hidden;
	&.in{
		.modal-dialog {
			transform: translateY(-50%);
			margin-top: -15px;
		}
	}
	
    .modal-dialog {
        max-width: 460px;
        height: 370px;
        background-color: #f7f7f7;
        position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		margin: auto;

    }
    .modal-header {
        font-size: 14px;
        font-weight: 700;
        color: #9e9e9e;
        padding: 15px;
        .close {
            margin: 0;
            line-height: 0;
        }
        i {
            font-size: 20px;
            color: #9e9e9e;
            font-weight: 500;
        }
    }
    .modal-body {
        padding: 20px 15px;
        .cropit-image-input {
            display: none;
        }
    }
    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border-radius: 3px;
        margin-top: 7px;
        width: 300px;
        height: 216px;
        margin: auto;
    }
    .cropit-preview-image-container {
        cursor: move;
    }
    .image-size-label {
        margin-top: 10px;
    }
    input,
    .export {
        display: block;
    }
    .slider-wrapper {
        margin: 10px 0 0;
        i {
            font-weight: 500;
            font-size: 14px;
            color: #9e9e9e;
            &.large-image {
                font-size: 20px;
            }
        }
    }
    .cropit-image-zoom-input {
        margin: 0 10px;
        background: #fff;
        height: 1px;
    }
    .modal-footer {
        justify-content: flex-start;
        a {
            font-size: 11px;
            font-weight: 700;
            line-height: 22px;
            padding: 3px 20px;
            border-radius: 10px;
            text-transform: uppercase;
            &:hover,
            &:focus,
            &.btn-upload-avata {
                color: #fff;
                border-color: $sub-color;
                background-color: $sub-color;
            }
        }
        
    }
}
