/* ==========================================================================
   User activity
   ========================================================================== */
.user-activity{
	.item-save-search{
		margin:0;
	}
	.view-more{
		font-size:rem(12px);
		font-weight: 400;
		color:$sub-color;
		&:hover{
			color:darken($sub-color, 8.5%);
		}
	}
}