/* ==========================================================================
   FOrm search style 2
   ========================================================================== */
//
//.box-form-search-style-2 {
//    background: #f5f5f5;
//    padding-top:20px;
//    .box-img-ads{
//        margin-top:15px;
//        height: 80px;
//        overflow: hidden;
//        background-size:cover;
//        background-repeat: no-repeat;
//        background-position:center center;
//    }
//}

.form-search-style-2 {
    @include small {
        padding: 15px 15px 5px;
        background: rgba(#Fff, .6);
    }
    .form-group {
        margin-bottom: 10px;
        &:nth-child(n+5):not(.col-md-12){
            display: none;
            @include small{
                display: block;
            }
        }
    }
    .form-control {
        height: 100%;
        font-size: 12px;
        font-weight: 500;
        &:-moz-placeholder {
            color: $gray-dark;
            font-weight: 500;
        }
        &::-webkit-input-placeholder{
            color:$gray-dark;
            font-weight: 500;
        }
    }
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col-md-6,
    .col-md-3,
    .col-md-12,
    .col-md-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .custom-select {
        border-radius: 0;
        padding: 8px;
        height: 100%;
        option {
            padding: 5px 10px;
        }
    }
    .custom-select {
        font-weight: 500;
    }
    button {
        font-size: 14px;
        cursor: pointer;
        margin: 5px 0 0;
        padding: 12px;
    }
    .box-more{
        display:none;
        width: 100%;
    }
    

}
.click-more{
    margin: 15px auto;
    display:block;
    i{
        color:$sub-color;
    }
}
// form-search-car-2
.form-search-car-2 {
    background: transparent !important;
    padding: 0;
    .form-group {
        width:100%;
        @include mobile{
            width: 50%;
            padding: 0 7px;
            float: left;
        }
        @include medium{
            width: 20%;
            float: none;
        }
    }
    button{
            padding:10px 0;
        }
}

.title-style1 {
    font-size: 16px;
    font-weight: 500;
    color: #424242;
}
