/* ==========================================================================
   Form Search
   ========================================================================== */
.show-search-mobile{
    .btn-dropdown{
        padding:0 10px;
    }
    .search-control-header{
        display: block;
    }
    .main-banner{
        position: static;
    }
    .search-controls{
        position: fixed;
        z-index: 99;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 15px 10px;
        @include mobile{
            padding: 40px 10px;
        }
    }
    .wrapper-form-search{
        display: block;
    }
    .close{
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 20px;
        @include mobile{
            font-size: 30px;
            top: 36px;
        }
    }
    .search-control-header{
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $modal-color-border;
        @include  mobile{
            padding-bottom: 15px;
        }
        h5{
            font-size: 20px;
        }
    }
    .wrap-dropdown-categories {
        border: 1px solid $modal-color-border;
        width: 75px;
        margin-bottom: 15px;
    }
    .wrapper-form-search {
        .form-input.form-input-search {
            border: 1px solid $modal-color-border;
            border-left: 0;
            width: calc(100% - 75px);
            margin-bottom: 15px;
        }
        .form-input.form-input-address {
            border: 1px solid $modal-color-border;
            width: 65%;
            &:before{
                left: 12px;
            }
        }
        input[type="text"] {
            padding-left: 35px;
        }
        .wrap-dropdown-km {
            width: 35%;
            border: 1px solid $modal-color-border;
            border-left: 0;
            height: $wrap-dropdown-height + 2;
        }
        .button-search {
            margin-top: 15px;
            width: 100%;
            border-radius: 15px;
            height: 40px;
            font-size: rem(16px);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
// end show mobile
.search-control-header{
    display: none;
}
.wrapper-form-search {
    display: none;
    @include small {
        display: block;
    }
    .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background: rgba($sub-color, 1);
    }
}

.input-search-mobi {
    position: relative;
    display: block;
    @include small {
        display: none;
    }
    input {
        width: 100%;
        padding: 0 50px;
    }
    i {
        font-size: 24px;
        color: $wrap-dropdown-font-color;
        position: absolute;
        left: 15px;
        top: 8px;
    }
}

.wrap-dropdown {
    @extend %display-vertical-middle;
    position: relative;
    background: $form-search-background;
    ul {
        @extend %list-unstyled;
    }
    .list-dropdown {
        position: absolute;
        top: 100%;
        box-shadow: 1px 0 8px $list-dropdown-background-shadow;
        width: 100%;
        left: 0;
        display: none;
        // max-height: $list-dropdown-max-height;
        // overflow-x: hidden;
        // overflow-y: scroll;
        z-index: 10;
    }
    > a {
        position: relative;
        &::before {
            font-family: "ionicons";
            font-size: 12px;
            color: $gray;
            position: absolute;
            right: -8px;
            content: "\F3D0";
            text-align: center;
            display: block;
            width: $wrap-dropdown-height;
            height: $wrap-dropdown-height;
            top: 0;
            transition: all .3s;
        }
    }
}

.btn-dropdown {
    font-size: $wrap-dropdown-font-size;
    font-weight: $wrap-dropdown-font-weight;
    color: $wrap-dropdown-font-color;
    height: $wrap-dropdown-height;
    line-height: $wrap-dropdown-height;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    display: block;
    &.change-color {
        background: $wrap-dropdown-font-color;
        i {
            color: #fff;
        }
        &:before{
            color:#fff;
            transform: rotate(180deg);
        }
    }
}

.wrapper-form-search {
    .form-control {
        border: none;
        font-size:14px;
        background: $form-search-background;
        height: $wrap-dropdown-height;
        font-family: $primary-font;
        &[type="text"] {
            padding-left: 35px;
            @include medium {
                padding-left: 50px;
            }
        }
        &[type="search"]{
            font-size: 16px;
        }
    }
    .form-input {
        float: left;
        position: relative;
        &.form-input-search {
            width: 45%;
            border-left: 1px solid $form-search-color-border;
            a{
                display:none;
            }
        }
        &.form-input-address {
            width: 27%;
            border-left: 1px solid $form-search-color-border;
            border-right: 1px solid $form-search-color-border;
            &:before {
                font-family: "ionicons";
                content: "\F3A3";
                left: 20px;
                // z-index: 10;
                font-size: rem(18px);
                color: $wrap-dropdown-font-color;
                @include vertical-middle(absolute);
            }
        }
    }
}

.form-input-search .form-control::placeholder,
.form-input-search .form-control::-moz-placeholder,
.input-search-mobi .form-control::placeholder,
.input-search-mobi .form-control::-moz-placeholder {
    font-weight: $form-search-font-weight;
    color: #9e9e9e;
    opacity: 1;
    font-size: rem(16px);
}

.wrap-dropdown-categories {
    width: 8%;
    float: left;
    .list-dropdown {
        width: 300px;
        //height: 350px;
        //overflow-y: scroll;
        @include mobile{
            width: 330px;
        }
    }
}

.wrap-dropdown-km {
    width: 12%;
    float: left;
    height: $wrap-dropdown-height;
    text-align: center;
    //padding-right: 5px;
    border-right: 1px solid $border-color;
    .list-dropdown{
        //overflow-y: scroll;
        //height: 350px;
    }

    a {
        line-height: $wrap-dropdown-height;
        display: block;
        font-size: 14px;
        position: relative;
        &:after{
            font-family: ionicons;
            font-size: 12px;
            position: absolute;
            top: 0;
            line-height: 50px;
            right: -8px;
            display: block;
            width: 50px;
            height: 50px;
            content: '\F3D0';
            -webkit-transition: all .3s;
            transition: all .3s;
            text-align: center;
            color: #9e9e9e;
        }
    }
}

.button-search {
    width: 8%;
    cursor:pointer;
    float: left;
    font-size: $button-search-font-size;
    border: none;
    height: $wrap-dropdown-height;
    i:before{
        margin:0;
    }
}

// // wrapper-form-search-mobi
// #modal-form-search {
//     .wrapper-form-search {
//         margin: 15px 10px;
//         display:block;
//         .btn-dropdown {
//             padding: 0 8px;
//             &:before {
//                 width: 25px;
//                 right:0;
//                 @include small{
//                     right: -8px;
//                 }
//             }
//         }
        

//     }
// }
.wrap-dropdown-km .btn-select{
    &.change-color a{
        background: $wrap-dropdown-font-color;
        color: #fff;
        &:after{
            color:#fff;
            transform: rotate(180deg);
        }
    }
}