/* ==========================================================================
   Main Categories
   ========================================================================== */

.list-dropdown {
	overflow:hidden;
	margin-bottom:0;
    font-weight: $list-dropdown-font-weight;
    ul {
        @extend %list-unstyled;
    }
}

// has-child-dropdown
.has-child-dropdown {
	ul{
		display:none;
	}
	&.active > ul{
		display:block;
	}
}


.has-child-dropdown{
	position: relative;
    border-top: $list-dropdown-width-border solid $list-dropdown-color-border;
    width: 100%;
    cursor: pointer;
    background: $list-dropdown-background;
    font-size: $list-dropdown-font-size;
    
    span, a {
        padding: 10px 22px;
        @extend %display-vertical-middle;
        width: 80%;
    }
    i {
        font-size: rem(17px);
        @extend %display-vertical-middle;
        padding-left: 13px;
        max-width: 22px;
        color: $list-dropdown-color-hover;
        transition: all .3s;
        &.ion-ios-arrow-down {
            padding: 0;
            text-align: center;
            display: block;
            max-width: inherit;
            color: $list-dropdown-color;
        }
    }
    .btn-toggle {
        position: absolute;
        right: 0;
        color: $gray;
        font-size: $list-dropdown-font-size;
        text-align: center;
        display: block;
        width: 50px;
        height: 100%;
        top: 0;
        line-height: 100%;
        padding-left: 0;
        padding-right: 0;
        background: $list-dropdown-background;
        &.change-color{
          i{
            transform: rotate(180deg);
          }
        }
        &:hover {
            background: darken($list-dropdown-background-hover, 5%);
        }
    }
    &:hover {
        background: $list-dropdown-background-hover;
    }
    .has-child-dropdown{
    	font-weight:400;
    	//border:none;
      span:not(.btn-toggle),
      a:not(.btn-toggle){
        width:calc(100% - 100px);
        padding: 10px 0;
        //margin-left: 50px;
      }
    	&:hover{
    		> span, > a{
    			background: $list-dropdown-background-hover;
    		}
    	}
    }
}

.list-dropdown ul  li a,
.list-dropdown ul  li span{
  margin-left: 50px;
}
.list-dropdown ul ul li a,
.list-dropdown ul ul li span{
  margin-left: 70px;
}
.list-dropdown ul ul ul li a,
.list-dropdown ul ul ul li span{
  margin-left: 90px;
}