/* ==========================================================================
   Modal
   ========================================================================== */
.modal-header{
	border-bottom: 1px solid $modal-color-border;
}
.modal-title{
	font-size:$modal-title-font-size;
	font-weight:$modal-title-font-weight;
	line-height: 32px;
	color:$modal-title-color;
}
.modal-dialog{
	max-width:100%;
	margin:0;
	height:100%;
	background:#fff;
	@include small{
		max-width:720px;
		height:auto;
		margin: 30px auto;
	}
}
button.close{
	font-size:15px;
}

.modal-backdrop.fade{
	opacity: .5;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}


//modal style 1
.modal-style-sm{
	.modal-dialog{
		max-width: 458px;
	}
	.modal-header,.modal-body, .modal-footer{
		background:$sub-bg-color;
	}
	.modal-body{
		padding-top:15px;
	}
	.close{
		font-size: 20px;
		font-weight: 500;
		color:$gray;
	}
	.modal-title{
		font-size:14px;
		color:$gray;
		span{
			color:$primary-button-color;
		}
	}
}


