/* ==========================================================================
   Relative
   ========================================================================== */
// post relative
.content-post-relative{
	.col-md-4{
		padding-left:5px;
		padding-right:5px;
	}

	.card-post{
		.card-title{
			font-weight:500;
			font-size:12px;
		}
		.card-avatar{
			width: 40px;
			height:40px;
		}
		.card-block{
			padding:10px;
		}
		.card-description{
			width: calc(100% - 70px);
			h6{
				margin-bottom:0;
			}
		}
		.add-favorite{
			font-size:18px;
			right: 5px;
			bottom: 5px;

		}
	}
	@media (max-width: 767px){
		padding-top: 15px;
		.card-post{
			display: block;
			margin: 5px 0;
			.card-block{
				width: calc(100% - 135px);
				display: inline-block;
				vertical-align: top;
				padding:10px 5px;
			}
			.card-description {
				width:100%;
				margin-left: 0;
				h6{
					margin-bottom: 5px;
					padding:0;
				}
			}
		}
		.card-img-top{
			width:130px;
			margin: inherit;
			display: inline-block;
			vertical-align: top;
			margin: 0;
		}
		.card-price{
			font-size: rem(12px);
			right: -93%;
			bottom: 20px;
			background: transparent;
			padding:0;
		}
		.card-avatar{
			display: none !important;
		}
	}
}

