/* ==========================================================================
   Banner Home
   ========================================================================== */
.banner-home{
	padding:50px 0;
	@include small{
		padding-top: 120px;
		padding-bottom: 165px;
	}
	&:after{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.4);
		top:0;
		left: 0;
		width:100%;
		height:100%;
		content:"";
	}
	.main-banner{
		max-width: 945px;
		margin:auto;
		z-index:2;
	}
}

.header-banner{
	color:$banner-home-color;
	text-align:center;
	margin-bottom: 23px;
	h2{
		text-shadow: 7px 0 10px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		margin-bottom: 4px;
		font-size:rem(20px);
		@include small{
			font-size:2rem;
		}
	}
	p{
		font-weight:400;
		font-size:rem(14px);
		@include small{
			font-size:rem(16px);
			font-weight:500;
		}
	}
}