/* ==========================================================================
   Banner
   ========================================================================== */

.wrapper-banner {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}

.main-banner {
    with: 100%;
    position: relative;
    //z-index: 1;
}

// banner page content
.banner-page-content {
    background: $banner-bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85px;
    .wrapper-form-search .form-input.form-input-search {
        position: relative;
        @include medium {
            width:48%;
            .form-control[type=search]{
                padding-right: 120px;
            }
        }
        a {
            display: none;
            @include medium{
                color: $gray;
                font-weight: 500;
                @include vertical-middle(absolute);
                right: 10px;
                display: block;
            }
            &:hover {
                color: $sub-color;
            }
            i {
                font-size: 18px;
                color: $sub-color;
                @extend %display-vertical-middle;
            }
        }
    }
    .wrap-dropdown-categories {
        @include medium {
            width: 7%;
        }
    }
    .button-search {
        @include medium {
            width: 6%;
        }
    }
    // .wrap-dropdown > a::before {
    //     content: "";
    //     @include medium {
    //         content: '\F3D0';
    //     }
    // }
}

// banner-page
.banner-page {
    .breadcrumbs {
        li {
            font-size: 12px;
            font-weight: 500;
        }
    }
}

// banner-page-landing
.banner-page-landing {
    padding: 50px 0 30px;
    @include small {
        padding: 50px 0 180px;
    }
    .header-banner {
        text-transform: uppercase;
        margin-bottom: 0;
        @include small{
            padding: 0 0 15px;
        }
        .text1 {
            font-size: rem(24px);
            font-weight: 700;
            text-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 0;
            @include small {
                font-size: rem(30px);
            }
        }
        .text2 {
            font-size: rem(31px);
            font-weight: 700;
            @include small {
                font-size: rem(40px);
            }
        }
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, .5);
        content: "";
    }
}
