/* ==========================================================================
   Banner Support
   ========================================================================== */
.banner-support{
	padding:65px 0 15px;
	background: #c4df9b url(#{$imgUrl}/default-image/banner-support.png) no-repeat top center;
	background-size: contain;
	@include mobile{
		padding:130px 0 15px;
		background-size: auto;
	}
	h6{
		font-size:rem(18px);
	}
}
