/* ==========================================================================
   Before Footer Support
   ========================================================================== */
.before-footer-support{
	height: 370px;
	padding:50px 10px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: center bottom;
	a{
		font-size:rem(17px);
		font-weight:700;
		color:#fff;
		width: 100%;
		height: 63px;
		line-height: 63px;
		text-align:center;
		display:inline-block;
		background-color: $primary-color;
		@include small{
			width: 360px;
		}
		img{
			padding-right:15px;
		}
		&:hover{
			background: darken($primary-color, 5%);
		}
	}
}