/* ==========================================================================
   Below-footer
   ========================================================================== */
.below-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 170px;
    @include small {
        height: 520px;
        background-attachment: fixed;
    }
    @include medium {
        height: 690px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

.below-footer-header {
    color: #fff;
    z-index: 1;
    max-width: 450px;
    position: relative;
    padding-top: 50px;
    h1 {
        font-size: rem(24px);
        margin-bottom: 12px;
    }
    p {
        font-size: rem(12px);
    }
    @include small {
        
        h1 {
            font-size: rem(30px);
        }
        p {
            font-size: rem(15px);
        }
    }
    @include medium {
        max-width: 550px;
        padding-top: 100px;
        h1 {
            font-size: rem(36px);
        }
        p {
            font-size: rem(20px);
        }
    }
}

// below-footer
.background-building {
    display: none;
    @include small {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-image: url(#{$imgUrl}/default-image/building.png);
        background-position: 0px 0px, 0px 100%, 0px 50%, 0px 0px;
        background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
        width: 100%;
        height: 350px;
        animation-name: bgscroll;
        animation-duration: 400s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        overflow: hidden;
    }
    @include medium {
        height: 384px;
    }
    .person {
        width: 175px;
        height: 190px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 10px;
        z-index: 99;
        background-size: auto 100%;
        right: 20%;
        animation-duration: 90s;
        animation-timing-function: cubic-bezier(0, .15, 1, .8);
        &.start {
            animation-name: start-personscroll;
        }
        &.repeat {
            animation-name: personscroll-repeat;
            animation-iteration-count: infinite;
        }
    }
    .person-play {
        width: 175px;
        height: 190px;
        background-image: url(#{$imgUrl}/default-image/person.png);
        animation: play .8s steps(2) infinite;
    }
}
