/* ==========================================================================
   Footer Support
   ========================================================================== */
.site-footer-support{
	background-color:$gray-lighter;
	padding:25px 0;
	.footer-menu-suppor li{
		font-weight:500;
	}
}