/* ==========================================================================
   Footer
   ========================================================================== */
#site-footer{
	background:$footer-background;
	color:#fff;
	text-align:center;
	padding:30px 0 24px;
	.social{
		margin-bottom:10px;
		a:hover{
			.ion-social-facebook{
				color:$color-facebook;
			}
			.ion-google-plus{
				color:$color-google-plus;
			}
			.ion-social-youtube{
				color:$color-youtube;
			}
		}
	}
	hr{
		background:$web-color;
		margin: 19px 0px 13px;
	}
}
// social
.social{
	li{
		@extend %display-vertical-middle;
		padding:0 6px;
		@media (min-width: 490px) {
			padding:0 25px;
		}
	}
	i{
		background: #fff;
		width: 40px;
		height: 40px;
		border-radius:50%;
		line-height: 41px;
		display: block;
		font-size: $social-font-size;
		text-transform: uppercase;
		left: 0;
		right:0;
		text-align:center;
		&.ion-social-youtube{
			font-size:rem(24px);
		}
	}
}

// menu footer
.menu-footer{
	ul{
		margin-bottom:5px;
		@include small{
			margin-bottom:-1px;
		}
	}
	li{
		display:inline-block;
		vertical-align:top;
		font-size: $footer-font-size;
		font-weight: $footer-font-weight;
		line-height: 24px;
		text-transform: uppercase;
		padding:0 7px;
		@media (min-width: 576px) {
			font-size: $footer-font-size;
		}
		&:hover{
			a{
				color:$footer-color-hover
			}
		}
	}
}

// footer menu suppor
.footer-menu-suppor{
	max-width: 320px;
	margin: auto;
	@media (min-width: 490px) {
		max-width:initial;
	}
	li{
		display:inline-block;
		vertical-align:top;
		font-size:$menu-support-font-size;
		width:49%;
		position: relative;
		@media (min-width: 576px) {
			font-size: $menu-support-font-size;
		}
		@media (min-width: 490px) {
			padding:0 10px;
			width:auto;
		}
		@media (min-width: 490px) {
			&:after{
				content:"";
				height:12px;
				width:1px;
				background:$web-color;
				right:0;
				@include vertical-middle(absolute);
				top: 53%;
			}
			&:last-child:after{
				width:0;
			}
		}
		&:hover{
			a{
				color:$menu-support-color-hover
			}
		}
	}
}


// copyright
.copyright{
	color:$coppy-right-color;
	font-size:$coppy-right-font-size;
	@media (min-width: 576px) {
		font-size: $coppy-right-font-size;
	}
	a:hover{
		color:$coppy-right-color-hover;
	}
}