/* ==========================================================================
   Header
   ========================================================================== */
#site-header{
    box-shadow:0 0 32px 8px rgba(205, 216, 232, 0.3);
    position: relative;
    z-index: 3;
}
.header-wrapper {
    position: relative;
}

#site-logo {
    width: $width-logo-small;
    @include small {
        width: $width-logo-decktopsmall;
        margin-top: 17px;
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 20;
    }
    @include large {
        width: $width-logo;
        margin-top: 15px;
    }
}

// header-topbar
.header-topbar {
    background: $primary-color;
    padding: $header-topbar-padding;
    a {
        color: $header-topbar-color;
        //&:hover {
        //    color: $header-topbar-color-hover;
        //}
        &.btn-post-ad{
            background: #fff;
            color: $sub-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .group-profile-sub a{
        color:$web-color;
        &:hover{
            color:$sub-color;
        }
    }
}

// header-topbar-right
.header-topbar-right {
    display: none;
    @include small {
        display: block;
    }
    margin: 0;
    & > li {
        font-weight: $header-topbar-font-weight;
        padding-right: 10px;
        &:last-child {
            padding-right: 0;
        }
    }
}

.signin-url {
    a,
    span {
        @extend %display-vertical-middle;
    }
    span {
        color: $header-topbar-color;
    }
}

.group-profile {
    position: relative;
    span {
        padding: 0 5px;
        @extend %display-vertical-middle;
    }
    > a {
        > .ion-person {
            width: 28px;
            height: 28px;
            border-radius: 10px;
            position: relative;
            background: $white;
            line-height: rem(30px);
            color: $gray;
            font-size: rem(16px);
            &:before {
                position: absolute;
                @include center-box;
            }
        }
        > img{
            width:31px;
            height:31px;
            margin-right: 5px;
        }
    }
    i {
        @extend %display-vertical-middle;
        font-weight: $medium;
        &.ion-chevron-down {
            vertical-align: top;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            color: $white;
        }
    }
    
    &.group-profile-open > a {
        color: $header-topbar-color-hover;
    }
    .group-profile-sub{
        display: none;
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        z-index: 10;
        width: $profile-nav-width;
        box-shadow: 1px 0 8px $profile-nav-color-box-shadow;
    }
}


.group-profile-sub{
    i{
        color: $sub-color;
        &.ion-image {
            font-size: $profile-nav-font-size-icon - .25;
        }
    }
    .wellcome {
        padding: 10px 15px;
        font-weight: 700;
    }
}

// btn post ad


// icon toggle
.icon-toggle {
    display:block;
    @include small{
        display:none;
    }
    padding: 10px;
    width: 50px;
    height: auto;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    @include vertical-middle(absolute);
    span {
        display: block;
        transition: all 0.4s ease;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        width: 100%;
        height: 4px;
        background: #fff;
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


// header-notification
.header-notification{
    position: relative;
    cursor: pointer;
    &-icon{
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
    span{
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        top: 0;
        right: 6px;
        width: 15px;
        height: 15px;
        padding: 3px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: red;
    }
    &-sub{
        display: none;
        position: absolute;
        top: calc(100% + 13px);
        right: 0;
        z-index: 10;
        width: 240px;
        color:$web-color;
        background-color: white;
        box-shadow: 1px 0 8px rgba(0, 0, 0, 0.25);
        a{
            color:$web-color;
        }
       i{
            font-size: 16px;
            font-weight: 400;
            color:$sub-color;
            border: 1px solid $sub-color;
            border-radius: 6px;
            margin-right: 10px;
       }
       li{
            border-bottom: 1px solid #e1e1e1;
            padding: 9px 15px;
            &:hover{
                background:#fafafa;
                a{
                    color:$web-color;
                }
            }
       }
       li:first-child{
            text-align: center;
            font-weight: 700;
            line-height: 30px;
            padding: 5px 15px;
       }
    }
}