/* ==========================================================================
   Header Support
   ========================================================================== */
.site-header-support{
	background:$sub-color;
	&-logo{
		position: static;
		margin-top:5px;
		margin-bottom:5px;
		img{
			width: 170px;
		}
	}
	&-menu{
		background:$sub-color;
	}
}
// support-main-navigation
.support-main-navigation{
	display:none;
	position: absolute;
	top:100%;
	left:0;
	width:100%;
	background:$sub-color;
	border-top: 1px solid $web-color;
	z-index: 9;
	@include small{
		display: block;
		position: static;
		width: auto;
		border:none;
	}
	li {
		display: block;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		@include small{
			display: inline-block;
		}
		&:hover{
			a{
				color:#fff;
			}
		}
	}
	a{
		padding:20px 10px;
		display: block;
	}
}