/**
** General  
**/

// @include font-face("UTM", '../fonts/UTMNeoSansIntel', normal, normal);
// @include font-face("UTM", '../fonts/UTM Neo Sans Intel', bold, normal);
html {
    font-size: 16px;
}

body {
    font-size: rem($font-base);
    font-family: $primary-font;
}

a:hover,
a:focus {
    outline-style: none;
    text-decoration: none;
}

a,
sup,
sub {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow-x: hidden;
}

@media (max-width: 576px) {
    .container,
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight:700;
    font-family: $primary-font;
}
.list-unstyled{
    margin-bottom:0;
}

.bg-gray{
    background-color: #ccc;
}
button, input, optgroup, select, textarea{
    font-family: $primary-font;
}
//.height-auto{
//    height: auto!important;
//}
/**
** End General
**/
