/* ==========================================================================
   Helpers
   ========================================================================== */

.transition07 {
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
}

.transition05 {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.transition03 {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.stop-scrolling {
	position: fixed;
	z-index: 1;
	overflow: hidden !important;
	width: 100%;
}

.primary-color {
	color: #ffb300;
}

.bg-overlay {
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow-y: scroll;
	background: rgba(0, 0, 0, .7);
}

.bg-graylight {
	background: #f5f5f5;
}

.bg-white {
	background: #fff;
}

.bg-green {
	background: #8bc34a;
}

.title-style1 {
	font-size: 14px;
	font-weight: 500;
	color: #9e9e9e;
}

.title-style1 span {
	font-weight: 700;
	color: #424242;
}

.row-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -7px;
	margin-left: -7px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col-card-4 {
	float: left;
	max-width: 50%;
	padding-right: 7px;
	padding-left: 7px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.col-card-3 {
	float: left;
	max-width: 50%;
	padding-right: 7px;
	padding-left: 7px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.col-card-6 {
	float: left;
	max-width: 100%;
	padding-right: 7px;
	padding-left: 7px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.col-card-3-scroll {
	float: left;
	width: 288px;
	padding: 0 15px;
}

.radius-none {
	border-radius: 0;
}

.img-car-50 {
	width: 50%;
}

.btn {
	cursor: pointer;
}

/* ==========================================================================
   Placeholder
   ========================================================================== */

.social li {
	display: inline-block;
	vertical-align: middle;
}

/* ==========================================================================
   header-title
   ========================================================================== */

.header-title {
	position: relative;
	margin-bottom: 20px;
	text-align: left;
}

.header-title h4 {
	font-size: .75rem;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-bottom: 0;
	padding-right: 20px;
	text-transform: uppercase;
}

.header-title:after {
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
	height: 1px;
	content: '';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #e1e1e1;
}

/**
** General  
**/

html {
	font-size: 16px;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: .75rem;
}

a:hover,
a:focus {
	text-decoration: none;
	outline-style: none;
}

a,
sup,
sub {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

a {
	text-decoration: none;
}

.wrapper {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Arial', sans-serif;
	font-weight: 700;
}

.list-unstyled {
	margin-bottom: 0;
}

.bg-gray {
	background-color: #ccc;
}

button,
input,
optgroup,
select,
textarea {
	font-family: 'Arial', sans-serif;
}

/**
** End General
**/

.ebold {
	font-weight: 800;
}

.ubold {
	font-weight: 900;
}

.bold {
	font-weight: 700;
}

.sbold {
	font-weight: 600;
}

.medium {
	font-weight: 500;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

/* ==========================================================================
   Form Search Support
   ========================================================================== */

.form-search-support input {
	border: none;
}

.form-search-support .input-group-btn .btn {
	border-radius: 0;
}

.form-search-support .input-group-btn i {
	font-size: 24px;
}

/* ==========================================================================
   Breadcrumbs support
   ========================================================================== */

.breadcrumb-support {
	font-weight: 700;
	color: #9e9e9e;
}

.breadcrumb-support .breadcrumb-item.active {
	color: #9e9e9e;
}

.breadcrumb-support a {
	color: #9e9e9e;
}

.breadcrumb-support a:hover {
	color: #8bc34a;
}

.breadcrumb-support .breadcrumb-item + .breadcrumb-item::before {
	font-family: 'ionicons';
	content: '\F125';
	color: #9e9e9e;
}

/* ==========================================================================
   Card Support
   ========================================================================== */

.card-support {
	position: relative;
	width: 50%;
	padding: 15px;
}

.card-support-icon {
	line-height: 90px;
	width: 90px;
	height: 90px;
	margin: auto;
	-webkit-transition: all .3s;
	transition: all .3s;
	text-align: center;
	border-radius: 50%;
	background-color: #6dcff6;
}

.card-support-icon i {
	font-size: 50px;
	color: #fff;
}

.card-support-title {
	font-size: 14px;
	font-weight: 500;
	margin: 15px 0;
	-webkit-transform: all .3s;
	transform: all .3s;
}

.card-support-description {
	font-weight: 500;
}

.card-support:nth-child(2) .card-support-icon {
	background-color: #8393ca;
}

.card-support:nth-child(3) .card-support-icon {
	background-color: #bd8cbf;
}

.card-support:nth-child(4) .card-support-icon {
	background-color: #f69679;
}

.card-support:nth-child(5) .card-support-icon {
	background-color: #fcce75;
}

.card-support:hover .card-support-title {
	color: #8bc34a;
}

.card-support:hover .card-support-icon {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, .35);
	box-shadow: 1px 0 8px rgba(0, 0, 0, .35);
}

/* ==========================================================================
   Card Support List
   ========================================================================== */

.card-support-list {
	margin-bottom: 5px;
	border: none;
}

.card-support-list-header {
	position: relative;
	padding: 15px;
	padding-right: 40px;
	background: #f7f7f7;
}

.card-support-list-header:after {
	font-family: ionicons;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: 50%;
	right: 20px;
	content: '\F3D0';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.card-support-list-header.show a,
.card-support-list-header.show i {
	color: #8bc34a;
}

.card-support-list-header.show:after {
	-webkit-transform: translateY(-50%) rotateX(150deg);
	transform: translateY(-50%) rotateX(150deg);
	color: #8bc34a;
}

.card-support-list-header a {
	font-size: 1.125rem;
	display: block;
}

.card-support-list-header a:hover {
	color: #8bc34a;
}

.card-support-list-header i {
	font-size: 1.5625rem;
	margin-right: 5px;
	padding: 3px;
	color: #9e9e9e;
	border-radius: 50%;
	background: #fff;
}

.card-support-list-block {
	padding: 15px 10px;
}

.card-support-list-block h6 {
	font-size: 16px;
	margin-bottom: 16px;
}

.card-support-list-block ol {
	padding-left: 12px;
}

.card-support-list-block ol li {
	font-weight: 500;
	margin-bottom: 10px;
}

.card-support-list-block ol a:hover {
	color: #8bc34a;
}

/* ==========================================================================
   Support Tab Circle
   ========================================================================== */

.support-tab-circle {
	margin-top: 20px;
}

.support-tab-circle .nav {
	margin-bottom: 20px;
}

.support-tab-circle .card-support-icon {
	line-height: 80px;
	display: block;
	width: 80px;
	height: 80px;
	background-color: #9e9e9e;
}

.support-tab-circle .card-support-icon i {
	font-size: 40px;
}

.support-tab-circle .card-support-title {
	font-size: 12px;
	font-weight: 700;
}

.support-tab-circle .active .card-support-icon,
.support-tab-circle .nav-item:hover .card-support-icon {
	background-color: #8bc34a;
}

.support-tab-circle .tab-content h6 {
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #8bc34a;
}

/* ==========================================================================
   Form  Contact
   ========================================================================== */

.form-contact label {
	font-weight: 500;
}

/* ==========================================================================
   Header Support
   ========================================================================== */

.site-header-support {
	background: #8bc34a;
}

.site-header-support-logo {
	position: static;
	margin-top: 5px;
	margin-bottom: 5px;
}

.site-header-support-logo img {
	width: 170px;
}

.site-header-support-menu {
	background: #8bc34a;
}

.support-main-navigation {
	position: absolute;
	z-index: 9;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	border-top: 1px solid #424242;
	background: #8bc34a;
}

.support-main-navigation li {
	font-size: 13px;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
}

.support-main-navigation li:hover a {
	color: #fff;
}

.support-main-navigation a {
	display: block;
	padding: 20px 10px;
}

/* ==========================================================================
   Footer Support
   ========================================================================== */

.site-footer-support {
	padding: 25px 0;
	background-color: #e1e1e1;
}

.site-footer-support .footer-menu-suppor li {
	font-weight: 500;
}

/* ==========================================================================
   Before Footer Support
   ========================================================================== */

.before-footer-support {
	height: 370px;
	padding: 50px 10px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: center bottom;
}

.before-footer-support a {
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 63px;
	display: inline-block;
	width: 100%;
	height: 63px;
	text-align: center;
	color: #fff;
	background-color: #ffb300;
}

.before-footer-support a img {
	padding-right: 15px;
}

.before-footer-support a:hover {
	background: #e6a100;
}

/* ==========================================================================
   Banner Support
   ========================================================================== */

.banner-support {
	padding: 65px 0 15px;
	background: #c4df9b url(../img/default-image/banner-support.png) no-repeat top center;
	background-size: contain;
}

.banner-support h6 {
	font-size: 1.125rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#site-footer {
	padding: 30px 0 24px;
	text-align: center;
	color: #fff;
	background: #f1f1f1;
}

#site-footer .social {
	margin-bottom: 10px;
}

#site-footer .social a:hover .ion-social-facebook {
	color: #3b5998;
}

#site-footer .social a:hover .ion-google-plus {
	color: #de4e43;
}

#site-footer .social a:hover .ion-social-youtube {
	color: #cd201f;
}

#site-footer hr {
	margin: 19px 0 13px;
	background: #424242;
}

.social li {
	padding: 0 6px;
}

.social i {
	font-size: 1.9375rem;
	line-height: 41px;
	right: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50%;
	background: #fff;
}

.social i.ion-social-youtube {
	font-size: 1.5rem;
}

.menu-footer ul {
	margin-bottom: 5px;
}

.menu-footer li {
	font-size: .8125rem;
	font-weight: 700;
	line-height: 24px;
	display: inline-block;
	padding: 0 7px;
	vertical-align: top;
	text-transform: uppercase;
}

.menu-footer li:hover a {
	color: #8bc34a;
}

.footer-menu-suppor {
	max-width: 320px;
	margin: auto;
}

.footer-menu-suppor li {
	font-size: .75rem;
	position: relative;
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.footer-menu-suppor li:hover a {
	color: #8bc34a;
}

.copyright {
	font-size: .875rem;
	color: #424242;
}

.copyright a:hover {
	color: #8bc34a;
}

/* ==========================================================================
   Support Page
   ========================================================================== */

.main-support {
	background-color: #e1e1e1;
}

.support-center {
	padding: 30px 10px;
}

.support-center .btn-view-all {
	line-height: 25px;
	display: block;
	width: 100%;
	height: 40px;
	margin: auto;
	color: #8bc34a;
	border-color: #8bc34a;
}

.support-center .btn-view-all:hover {
	color: #fff;
	background-color: #8bc34a;
}

/* ==========================================================================
   Support Detail
   ========================================================================== */

.support-detail-header {
	margin-bottom: 20px;
}

.support-detail-header.open .dropdown-menu {
	display: block;
}

.support-detail-header #dropdownMenuLink {
	font-size: 16px;
	font-weight: 400;
}

.support-detail-header #dropdownMenuLink i {
	font-size: 25px;
	margin-right: 10px;
	color: #8bc34a;
}

.support-detail-header #dropdownMenuLink i:before {
	margin: 0;
}

.support-detail-header .dropdown-menu {
	overflow: hidden;
	width: 100%;
	max-width: 500px;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, .25);
	box-shadow: 1px 0 8px rgba(0, 0, 0, .25);
}

.support-detail-header .dropdown-menu ol {
	padding-left: 25px;
}

.support-detail-header .dropdown-menu li a {
	font-size: 12px;
	font-weight: 700;
	position: relative;
	display: block;
	width: 100%;
	padding: 14px 0;
	border-bottom: 1px solid #e1e1e1;
}

.support-detail-header .dropdown-menu li a:hover {
	color: #8bc34a;
}

.support-detail-header .dropdown-menu li a:after {
	position: absolute;
	bottom: -1px;
	left: -50px;
	width: 50px;
	height: 1px;
	content: '';
	background: #e1e1e1;
}

.support-detail-content {
	margin-bottom: 35px;
}

.support-detail-content h6 {
	font-weight: 500;
	margin-bottom: 20px;
}

.btn-support-relate {
	margin-bottom: 35px;
}

.btn-support-relate a {
	margin: 0 5px;
}

.btn-support-relate a i {
	font-size: 16px;
}

.support-detail-relate h6 {
	font-size: 14px;
	font-weight: 700;
}

.support-detail-relate li {
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 3px;
}

.support-detail-relate li a {
	color: #8bc34a;
}

/* ==========================================================================
   Support Contact
   ========================================================================== */

.support-contact address {
	font-weight: 500;
	line-height: 21px;
	max-width: 260px;
}

.support-contact .btn-support {
	font-size: 18px;
	font-weight: 700;
	display: block;
	width: 100%;
	max-width: 260px;
	padding: 10px 15px;
	color: #ffb300;
	border-color: #ffb300;
	border-radius: 0;
}

.support-contact .btn-support:hover {
	color: #fff;
	background: #ffb300;
}

@media (min-width: 490px) {

.social li {
	padding: 0 25px;
}

.footer-menu-suppor {
	max-width: initial;
}

.footer-menu-suppor li {
	width: auto;
	padding: 0 10px;
}

.footer-menu-suppor li:after {
	position: absolute;
	top: 50%;
	top: 53%;
	right: 0;
	width: 1px;
	height: 12px;
	content: '';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #424242;
}

.footer-menu-suppor li:last-child:after {
	width: 0;
}

}

@media (min-width: 576px) {

.header-title h4 {
	font-size: initial;
}

.card-support-list-header {
	padding: 15px 20px;
}

.card-support-list-header a {
	font-size: 1.25rem;
}

.card-support-list-header i {
	font-size: 1.6875rem;
}

.card-support-list-block {
	padding: 20px 12px;
}

.support-tab-circle {
	margin-top: 0;
}

.support-tab-circle .nav {
	margin-bottom: 40px;
}

.support-tab-circle .card-support-icon i {
	font-size: 50px;
}

.support-tab-circle .card-support-icon {
	line-height: 110px;
	width: 110px;
	height: 110px;
}

.support-tab-circle .card-support-title {
	font-size: 14px;
}

.support-tab-circle .tab-content h6 {
	font-size: 16px;
}

.banner-support {
	padding: 130px 0 15px;
	background-size: auto;
}

.menu-footer li {
	font-size: .8125rem;
}

.footer-menu-suppor li {
	font-size: .75rem;
}

.copyright {
	font-size: .875rem;
}

.btn-support-relate a {
	margin: 0 15px;
}

.support-contact h6 {
	min-height: 50px;
}

}

@media (min-width: 768px) {

.col-card-6 {
	max-width: 50%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.card-support {
	width: 20%;
	padding: 0 15px;
}

.support-main-navigation {
	position: static;
	display: block;
	width: auto;
	border: none;
}

.support-main-navigation li {
	display: inline-block;
}

.before-footer-support a {
	width: 360px;
}

.menu-footer ul {
	margin-bottom: -1px;
}

.support-center {
	padding: 75px 0;
}

.support-center .btn-view-all {
	width: 360px;
}

}

@media (min-width: 992px) {

.card-support-icon {
	line-height: 110px;
	width: 110px;
	height: 110px;
}

.card-support-icon i {
	font-size: 60px;
}

.card-support-title {
	font-size: 16px;
	min-height: 35px;
	margin: 30px 0 15px;
}

}

@media (min-width: 1200px) {

.col-card-4 {
	max-width: 33.333333%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
}

.col-card-3 {
	max-width: 25%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

.col-card-3-scroll {
	width: 25%;
}

}

@media (max-width: 576px) {

.container,
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

}

@-webkit-keyframes bgscroll {

from {
	background-position: 0 0, 0 100%, 0 50%, 0 0;
}

to {
	background-position: 7680px 0, 5760px 100%, 3840px 50%, 1920px 0;
}

}

@keyframes bgscroll {

from {
	background-position: 0 0, 0 100%, 0 50%, 0 0;
}

to {
	background-position: 7680px 0, 5760px 100%, 3840px 50%, 1920px 0;
}

}

@-webkit-keyframes personscroll-repeat {

from {
	right: 0;
}

to {
	right: 100%;
}

}

@keyframes personscroll-repeat {

from {
	right: 0;
}

to {
	right: 100%;
}

}

@-webkit-keyframes start-personscroll {

from {
	right: 20%;
}

to {
	right: 100%;
}

}

@keyframes start-personscroll {

from {
	right: 20%;
}

to {
	right: 100%;
}

}

@-webkit-keyframes play {

from {
	background-position: 0;
}

to {
	background-position: -348px;
}

}

@keyframes play {

from {
	background-position: 0;
}

to {
	background-position: -348px;
}

}

