* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.main-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('images/bg.jpg') center center / cover;
    opacity: 0.4;
}

.login-form {
    width: 350px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
    color: #fff;
}

.login-form .admin-logo img {
    max-width: 100%;
}

.login-form .admin-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.login-form h3 {
    text-align: center;
    margin: 0 0 20px;
}

.login-form form {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.5);
}

.form-wrap {
    padding: 5px 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 5px 10px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}

.login-form label {
    font-size: 12px;
    vertical-align: middle;
    line-height: 12px;
}

.login-form button {
    width: 100%;
    height: 40px;
    background: #578ebe;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.remember-box{
	padding-top: 15px;
}