/* ==========================================================================
   404 page
   ========================================================================== */
.page-404 .wrapper-main{
	position: relative;
	height:100vh;
}
.box-404{
	position: absolute;
	left:0;
	right:0;
	top:50%;
	transform:translateY(-50%);
	max-width:280px;
	margin:auto;
	h2{
		font-size: 16px;
		margin:35px 0 10px ;
	}
	h1{
		font-size: 24px;
		margin:0 0 20px;
	}
	p{
		a{
			color:$sub-color;
			font-weight: 500;
			&:hover{
				color:darken($sub-color, 0.65);
			}
		}
	}
}