/* ==========================================================================
   Account Seller
   ========================================================================== */
.accout-seller{
  &-title{
    li:first-child{
      border-right:2px solid #9e9e9e;
      padding-right:10px;
      margin-right: 10px;
    }
    a.active{
      color:$sub-color;
    }
  }
}
.accout-seller-header{
    position: relative;
    height:260px;
    @include mobile{
      height: 180px;
    }
    .info{
      position: absolute;
      top:-50px;
      left: 0;
      right: 0;
    }
    .avata{
        height:94px;
        width:94px;
        border:5px solid #fff;
        border-radius: 25px;
        overflow: hidden;
        margin: auto;
      img{
        width:100%;
        height:100%;
      }
    }
    h5{
      font-size: 18px;
      font-weight: 700;
      margin: 10px auto;
      @include mobile{
        margin: 15px auto 5px;
      }
    }
    .social-seller{
      border-top:1px solid $border-color;
      padding-top: 1rem;
      text-align: left;
      @include mobile{
        text-align: center;
        border:none;
        padding-top: 0;
      }
      span{
        font-weight: 500;
        line-height: 29px;
        margin-right: 10px;
        color: #9e9e9e;
        margin-bottom: 20px;
        display: block;
        @include mobile{
          margin-bottom: 0;
        }
      }
      li{
        border: 1px solid #9e9e9e;
        border-radius: 50%;
        padding: 0 1px;
        position: relative;
        color: #9e9e9e;
        margin: 0 15px;
        &.active{
          color:$sub-color;
          border-color:$sub-color;
        }
        &:after{
          position: absolute;
          content: "\F120";
          right: -9px;
          bottom: -5px;
          font-family: ionicons;
          font-size: 15px;
          //color:#9e9e9e;
        }
      }
      i{
        font-size: 18px;

      }
    }
    .action-more {
      position: absolute;
      bottom:60px;
      right:20px;
      width: 35px;
      height: 35px;
      border:1px solid $border-color;
      border-radius: 50%;
      @include mobile{
        bottom:10px;
      }
      i{
        font-size: 21px;
        color:#9e9e9e;
      }
      .dropdown-menu{
        border-radius: 0;
        box-shadow: 3px 0 5px rgba(0,0,0,.18);
      }

    }
}