/* ==========================================================================
   assessment-list
   ========================================================================== */
.section-assessment-list{
	.content-page-left{
		display:none;
		top: 0 !important;
		bottom: auto !important;
		z-index: 20;
		width: 100%;
		background: #f5f5f5;
		padding-bottom: 30px;
		@include small{
			padding-bottom: 0;
			display:block;
			top: auto  !important;
			bottom: 0 !important;
		}
		.refine-header::after{
			display:none;
		}
	}
}
.assessment-list{
	.content-page-right{
		h5{
			font-size: 22px;
			font-weight: 500;
		}
	}
}

.list-assessment{
	.item-assessment {
		margin-bottom:20px;
		img{
			width: 80px;
		}
		h5{
			font-size: 12px;
			font-weight: 700;
			transition:all .3s;
			@include mobile{
				font-size: 16px;
			}
		}
		.media-body{
			font-size: 11px;
			font-weight: 500;
			@include mobile{
				font-size: 12px;
			}
		}
		&:hover{
			h5{
				color:$sub-color;
			}
		}
	}
}

// select-categories-mobile
.select-categories-mobile{
	font-size: 12px;
	font-weight: 700;
	color: #8bc34a;
	position: relative;
	display:block;
	width: 100%;
	margin-bottom: 25px;
	&:focus{
		color: #8bc34a;
	}
	&::after {
	    font-family: ionicons;
	    font-size: 16px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    content: '\F104';
	    color: #9e9e9e;
	}
}