/* ==========================================================================
   Assessment-detail
   ========================================================================== */

.section-assessment-detail{
	.content-page-left{
		display:none;
		top: 0 !important;
		bottom: auto !important;
		z-index: 20;
		width: 100%;
		background: #f5f5f5;
		padding-bottom: 30px;
		@include small{
			padding-bottom: 0;
			display:block;
			top: auto  !important;
			bottom: 0 !important;
		}
		.refine-header::after{
			display:none;
		}
	}
}
.list-categories-car{
	border-bottom:0;
	li a:hover{
		background:#e1e1e1;
		padding-left:10px;
	}
}
.assessment-detail-content {
    header {
        span {
            font-size: 12px;
            font-weight: 700;
            color: #9e9e9e;
        }
        h1 {
            font-size: rem(20px);
            @include small {
                font-size: rem(22px);
            }
        }
        .meta {
            font-size: 12px;
            font-weight: 500;
        }
    }
    .slick-arrow {
        @include vertical-middle(absolute);
        z-index: 10;
        color: $gray;
        font-size: 20px;
        &:hover {
            color: $sub-color;
        }
    }
}

.assessment-note p {
    margin-bottom: 0;
    .section-assessment-detail {
        .content-page-left {
            display: none;
            top: 0 !important;
            bottom: auto !important;
            z-index: 20;
            width: 100%;
            background: #f5f5f5;
            padding-bottom: 30px;
            @include small {
                padding-bottom: 0;
                display: block;
                top: auto !important;
                bottom: 0 !important;
            }
            .refine-header::after {
                display: none;
            }
        }
    }
    .list-categories-car {
        border-bottom: 0;
        li a:hover {
            background: #e1e1e1;
            padding-left: 10px;
        }
    }
    .assessment-detail-content {
        header {
            span {
                font-size: 12px;
                font-weight: 700;
                color: #9e9e9e;
            }
            h1 {
                font-size: rem(20px);
                @include small {
                    font-size: rem(22px);
                }
            }
            .meta {
                font-size: 12px;
                font-weight: 500;
            }
        }
        .slick-arrow {
            @include vertical-middle(absolute);
            z-index: 10;
            color: $gray;
            font-size: 20px;
            &:hover {
                color: $sub-color;
            }
        }
    }
}

