/* ==========================================================================
   BDS
   ========================================================================== */
.form-search-bds{
	margin-bottom: 15px;
	@include small{
		position: absolute;
		top: -197px;
		left: 15px;
		z-index: 1;
		right: 15px;
		margin-bottom: 0;
	}
}
.section-content-bds{
	padding-bottom:370px;
	padding-top:30px;
    background-image: url(#{$imgUrl}/default-image/bg-signin.png) ;
    background-position:bottom center;
    background-repeat:repeat-x ;
}
.box-suggest {
	> h5{
		font-size: 22px;
		font-weight: 500;
		text-align:center;
	}
	.btn-view-all{
		border-color:$primary-color;
		background:$primary-color;
		font-size: 12px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		margin:auto;
		    display: table;
		    &:hover{
		    	background:darken($primary-color, 5.5%);
		    }
	}
}
.real-estate-suggest{
	h5{
		font-size: 22px;
		font-weight: 500;
		padding-bottom: 15px;
		border-bottom:1px solid $border-color;
	}
	a{
		font-size: 14px;
		font-weight: 500;
		color:$sub-color;
		margin-bottom:5px;
		    display: block;
	}
}