/* ==========================================================================
   Car Page
   ========================================================================== */
.form-search-car{
    margin-bottom: 15px;
    @include small{
        position: absolute;
        top: -197px;
        left: 15px;
        z-index: 1;
        right: 15px;
        margin-bottom: 0;
    }
}
.section-content-car {
    padding: 30px 0 1px;
    @include small{
        padding: 30px 0;
    }
    // form-search-car-2
    .form-search-car-2{
        padding:0;
        margin:0 -7px;
    }
}

// 

// end box-img-ads

.group-card{
    background:#fff;
    padding:15px;
    margin-bottom:30px;
    @include medium{
        margin-bottom:0;
    }
    .col-card-6:nth-of-type(1n+7) {
        display: none;
        @include small{
            display:block;
        }
    }
}
// end group-card

