/* ==========================================================================
   Compose Post
   ========================================================================== */

.compose-post-page{
	padding:30px 0;
	background:$compose-post-page-background;
	@include small{
		padding:75px 0;
	}
	.header-title h4{
		background:$compose-post-page-background;
		font-size:rem(20px);
	}
	.list-dropdown{
		border: 1px solid $list-dropdown-color-border;
		border-top:0;
	}
	.has-child-dropdown{
		background:#fafafa;
		i{
			font-size:rem(24px);
			max-width: 35px;
			color:$compose-post-page-color;
		}
		a{
			padding:15px 22px;
		}
		&:hover{
			background:$white;
			i,a{
				color:$compose-post-page-color-hover;
			}
		}
	}
	
}
 // step 1+ 2
.compose-post-page-step1 .group-nav{
	li{
		display:none;
		padding:7px 15px;
		font-weight:500;
		&[data-root="0"]{
			display:block;
			font-weight:700;
			text-transform: uppercase;
		}
		i{
			font-size: rem(24px);
			width: 40px;
		}
	}
}

// step 3
.form-post-add{
	display:none;
	textarea{
		resize:none;
	}
	.upload-placeholder{
		@media (max-width:576px){
			height:120px;
			overflow: hidden;
		}
	}
	.button-info-option{
        font-size: 14px;
        color:$gray;
        border-radius:10px;
        padding:5px 30px;
        display:inline-block;
        border:1px solid $gray;
        margin-bottom: 10px;
        i{
            font-size:rem(12px);
            padding-right:10px;
        }
    }
    .form-group-info-option{
    	display:none;
    }
    .form-check{
    	.custom-control-indicator{
    		position: absolute;
    	}
    	.custom-checkbox{
    		padding-left: 25px;
    	}
    }
}

.set-minimum-amount{
	display:none;
	.note{
		transform: translateY(-30px);
	}
}
.set-minimum-amount input[type=checkbox] + .category-selector-group {
  display:none;
} 
.set-minimum-amount input[type=checkbox]:checked + .category-selector-group {
  display:block;
} 
.btn-post-add{
	padding:10px 30px;
	cursor:pointer;
	@extend %display-vertical-middle;
}
.preview-post-url{
	//display: inline-block;
	 vertical-align: middle;
	font-size:14px;
	color:$gray;
	margin-left:25px;
	display: none;
	@include mobile{
		vertical-align: super;
	}
}
// end step 3

.price-table-note{
	font-style: italic;
	font-size:11px;
	display:none;
	i{
		font-size: 12px;
		padding-top: 8px;
		padding-right: 10px;

	}
}


//price-table form-control-feedback
.price-table{
	.form-control-feedback{
		color: #d9534f;
		font-weight: 500;
	}
}
//.info-description{
//	white-space: pre-wrap;
//}