/* ==========================================================================
   Home Page
   ========================================================================== */

.wrapper-main {
    background: $wrapper-main-background;
}
// section-post-ad-mobi
.section-post-ad-mobi{
    background:#f5f5f5;
    padding:15px 0;
    @include small{
        display:none;
    }
    .btn-post-ad{
        width:100%;
        background:$sub-color;
        font-size:rem(14px);
        color:$white;
        line-height:40px;
        height:40px;
        border-radius:15px;
    }
}
// favorite
.section-favorite {
    background: $favorite-background-mobi;
    padding: 25px 0;
    @include medium {
        padding: 50px 0;
        background: $favorite-background;
    }
    .header-title h4 {
        background: $favorite-background-mobi;
        @include medium {
            background: $favorite-background;
        }
    }
}

// section-categries-favorite
.section-featured-categories {
    padding: 25px 0 0;
    background: $section-categries-favorite-bg-mb;
    @include medium {
        background: $section-categries-favorite-bg;
        padding: 50px 0 25px;
    }
    .header-title h4 {
        background: $section-categries-favorite-bg-mb;
        @include medium {
            background: $section-categries-favorite-bg;
        }
    }
}
