/* ==========================================================================
   page Job
   ========================================================================== */
.form-search-job{
  margin-bottom: 15px;
  @include small{
    position: absolute;
    top: -155px;
    left: 15px;
    z-index: 1;
    right: 15px;
    margin-bottom: 0;
  }
}