/* ==========================================================================
 Manage Post
   ========================================================================== */

.content-manage-post {
    margin-top: -42px;
    @include  mobile{
        min-height:285px;
    }
    .nav-tabs {
        background:#fafafa;
        display: none;
        @include medium{
            display: flex;
        }
        .nav-link {
            border-radius: 0;
            font-weight: 500;
            border:none;
           position: relative;
           color:$gray;
           padding:12px 10px;
           @include small{
            padding:12px 20px;
           }
            i{
            	width: 20px;
            	background:$gray;
            	text-align:center;
            	line-height:20px;
            	color:#fff;
            	height:20px;
            	border-radius:50%;
            	margin-right:5px;
                display:inline-block;
            }
            &:after{
                @include medium{
        			position: absolute;
        			top:13px;
        			right:0;
        			height: 19px;
        			background:$gray-lighter;
        			content:"";
        			width: 1px;
                }
    		}
            &.active{
                background:transparent;
            	@include small{
                    background:#fff;
                    i{
                        background:$primary-button-color;
                    }
                }
            }
            &:hover{
            	i{
					background:$primary-button-color;
				}
            }
        }
    }
    .tab-pane{
    	padding: 0  0 30px;
    }
    .header-pane{
        a{
            padding: 10px;
            display: block;
            border-bottom: 1px solid $border-color;
            @include small{
                border:none;
                padding:0;
            }
        }
        li{
            position: relative;
            @include small{
                padding:0 10px;
            }
            &:after{
                @include small{
                    position: absolute;
                    content:"";
                    top:5px;
                    right:0;
                    width: 2px;
                    height:10px;
                    background:#424242;
                }
            }
            &:last-child{
                &::after{
                    width: 0;
                }
                a{
                    border-bottom:none;
                }
            }
            &.active a{
                color:$sub-color;
            }
        }
    }
    .btn-post{
        font-size:14px;
        width: 100%;
        @include small{
            width: auto;
        }
    }
    .btn-primary{
        width: 100%;
        @include mobile{
            width: auto;
        }
    }
    .btn-delete{
        display: block;
    }
    .item-save-search{
        margin:5px 0;
        @include mobile{
            margin: 15px 0;
        }
    }
    .col-card-4{
        flex: 0 0 100%;
        max-width: 100%;
        @include mobile{
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include large{
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}


.menu-profile-mobile{
    position: relative;
    background: #fafafa;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid $border-color;
    display: block;
    @include medium{
        display: none;
    }
    .icon-toggle{
        position: absolute;
        top:20px;
        left:10px;
        display: block;
        span{
            background: #9e9e9e;
            height: 3px;
        }
    }
}

