/* ==========================================================================
   Payment
   ========================================================================== */
.section-payment-page{
    min-height: calc(100vh - 310px);
}
.title-payment {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    h6 {
        z-index: 1;
        position: relative;
        padding-right: 25px;
        display: inline-block;
        font-size:20px;
    }
    &:after {
        position: absolute;
        top: 17px;
        right: 0;
        width: 100%;
        height: 1px;
        background: #e1e1e1;
        content: "";
    }
}

.header-content-payment {
    background: #fff;
    @include mobile {
        background: #f5f5f5;
    }
    li {
        padding: 0 30px;
        @include small {
            padding: 0 60px;
        }
        a {
            color: #Fff;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            display: block;
            font-size: 24px;
            font-weight: 700;
            width: 35px;
            height: 35px;
            background-color: #ccc;
        }
        &:hover,
        &.active {
            a {
                background: $sub-color;
            }
        }
        &.active{
        	margin-top: -20px;
        	@include mobile{
        		margin-top:0;
        	}
        }
    }
}

.content-payment {
    .note {
        background: #fff;
        @include mobile {
            background: #f5f5f5;
        }
        p {
            display: block;
            width: 100%;
            font-size: 14px;
            margin-bottom: 10px;
        }
        a {
            font-size: 14px;
            color: $sub-color;
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
            @include mobile {
                margin-bottom: 0;
            }
            &:hover {
                color: darken($sub-color, 6.5%);
            }
        }
    }
    .btn-next {
        font-size: 14px;
        width: 100%;
        height: 40px;
        line-height: 24px;
        text-align: center;
        margin: auto;
        display: block;
        @include mobile{
             width: 166px;
        }
    }
}

.total-money-payment {
    h6 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        @include small {
            margin-top: 14px;
            margin-bottom: 0;
        }
    }
   
}
 .number-money {
     background:$sub-color;
    padding: 5px 15px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    &.number-money-style-1{
        background:#Fff;
        border:1px solid $sub-color;
        color:$sub-color;
    }
}
.pillow-money {
    p {
        font-size: 14px;
        font-weight: 500;
        a {
            color: $primary-color;
            &:hover {
                color: darken($primary-color, 6.5%);
            }
        }
    }
    ul {
        border-bottom: 1px solid $border-color;
        background-color: #fafafa;
        border-right: 1px solid $border-color;
    }
    li {
        width: 100%;
        float: left;
        font-size: 16px;
        font-weight: 700;
        color: #9e9e9e;
        transition: all .3s;
        padding: 20px 10px;
        cursor: pointer;
        text-align: center;
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        @include mobile {
            width: 50%;
            padding: 30px 10px;
        }
        @include medium {
            width: 25%;
        }
        &:hover,
        &.active {
            background-color: #dcedc8;
            color: $sub-color;
        }
    }
}

.form-promotion-code{
    display:none;
    .form-control{
        width:auto;
    }
    .form-control::-moz-placeholder, 
    .form-control::placeholder{
        color: #9e9e9e;
    }
    i{
        font-size: 24px;
        color:$sub-color;
    }
    button{
        background:transparent;
        color: #9e9e9e;
        border:none;
        cursor: pointer;
        margin-left: 5px;
        font-weight: 500;
        &:hover{
            color:$sub-color;
        }
    }
    .form-control-feedback{
        font-size:11px;
    }
}

.info-total-payment{
    font-weight: 500;
    .title{
        font-size: 14px;
    }
    span{
        color: #9e9e9e;
        font-size: 14px;
    }
}
.select-method-payment{
    ul{
        display:none;
    }
   li{
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #9e9e9e;
        // cursor:pointer;
        i{
            margin-right:5px;
            border: 1px solid #9e9e9e;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            line-height: 18px;
            color: #Fff;
        }
        a{
            font-size: 12px;
            font-weight: 400;
            color:$sub-color;
            overflow: hidden;
        }
        &.active{
            // ul{
            //     display:block;
            // }
            i{
                background:$sub-color;
                border-color:$sub-color;
            }
        }
    }
}

.list-option-payment{
    background-color: #f7f7f7;
    padding:5px;
    li{
        width:50%;
        float: left;
        padding:1px;
        margin:0;
        @include mobile{
             width:20%;
        }
        &:nth-of-type(n+10){
            display:none;
        }
        &.view-more-bank{
            display:block;
        }
    }
    a{
        display:block;
        height:55px;
        line-height:55px;
        text-align: center;
        background:#fff;
        border: 2px solid $border-color;
        @include mobile{
             height:45px;
            line-height:45px;
        }
    }
}
.list-card-payment,
.list-banks-payment{
   & > li{
        &.active a{
            border-color:$sub-color;
        }
    }
}

.btn-footer-payment {
    .btn{
        padding:7px 15px;
        width: 100%;
        text-align:center;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        @include mobile{
            width: 300px;
        }
        &.btn-green{
            border-color:$sub-color;
            color:$sub-color;
            &:hover{
                background:$sub-color;
                color:#Fff;
            }
        }
        &.btn-yellow{
            border-color:$primary-color;
            color:$primary-color;
            &:hover{
                background:$primary-color;
                color:#Fff;
            }
        }
    }
}