/* ==========================================================================
   Profile
   ========================================================================== */
.form-upload-avata{
	.avata{
		width: 95px;
		height:95px;
		border-radius:50px;
		img{
			width:100%;
			height:100%;
			border-radius: 20px;
		}
		@extend %display-vertical-middle;
	}
	.content{
		width: calc(100% - 100px);
		padding-left:10px;
		@extend %display-vertical-middle;
		h3{
			font-size: 18px;
			margin:0 0 5px;
		}
		span{
			display:block;
			margin-bottom:5px;
		}
		a{
			font-size: 16px;
			background:#f5f5f5;
			color: #9e9e9e;
			padding:2px 15px;
		}
	}
	#file-upload{
		display:none;
	}
}
