/* ==========================================================================
   Search page
   ========================================================================== */

.select-display {
    @extend %list-unstyled;
    li {
        @extend %display-vertical-middle;
        line-height: 40px;
        text-align: center;
        @include medium{
            width: 50px;
            line-height: 47px;
        }
        i {
            font-size: 28px;
            color: $gray;
        }
        &:hover {
            background: $gray-lighter;
        }
        &.show-map{
            @include medium{
                background: $gray-lighter;
            }
            a{
                display: block;
                width:100%;
                height:100%;
            }
            &.show{
                background: $primary-color;
                i{
                    color:#fff;
                }
            }
        }
        &.active i{
            color:$sub-color;
        }
    }
}

.title-search-page {
    width: calc(100% - 150px);
    font-size: 14px;
    @include large{
        font-size: 16px;
    }
    .select-display {
        position: absolute;
        top: 0;
        right: 15px;
    }
}



.list-search {
    margin-bottom: 30px;
    .header {
        font-weight:500;
        border-bottom: 1px solid $refine-filter-color-border;
    }
    .card-post {
        margin: 0 0 14px;
    }
    .card-horizontal{
        width: calc(100% - 14px);
        margin-left:auto;
        margin-right:auto;
    }
}

.section-content-search {
    position: relative;
    overflow: hidden;
    &.active{
    	.box-content-search{
    		width:65%;
    		margin-left:0;
    		z-index: 1;
    	}
    	.col-card-4{
    		max-width:50%;
            flex: 0 0 50%;
    	}
    	.custom-gmap{
    		//opacity: 1;
    		z-index: 20;
            position: fixed;
            width: 100%;
            @include medium{
                width: 35% !important;
                position: absolute;
                z-index: 0;
            }
    	}
        .close-map{
            display: block;
            @include medium{
                display: none;
            }
        }
    }
    .col-lg-3{
        position: static;
    }

}

.search-no-result{
    font-size: 14px;
    @include mobile{
        font-size: 15px;
    }
}


// text-saved-search
.text-saved-search{
    a{
        color: #9e9e9e;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        &:hover{
            color:$sub-color;
        }
    }
}