/* ==========================================================================
   Sign Page
   ========================================================================== */
body {
    &.sign-page {
        background: $sign-background;
         @include mobile{
            background: url(#{$imgUrl}/default-image/bg-signin.png) repeat-x bottom center;
            // padding-bottom: $sign-padding-bottom;
             min-height:100%;
        }
        @include mobile{
            height:100%;
            min-height:950px;
            //min-height:500px;
        }
        //@media (min-width: 1365px) {
        //
        //}
    }
}

.sign-page .wrapper-main {
    @include mobile{
        margin: 50px 0;
    }
}

.login-register {
    background: $sign-background;
}

.left-login-register {
    background: $sign-background - 6;
    position: relative;
    img {
        margin: auto;
    }
}

.right-login-register {
     padding: 25px 0 ;
    @include mobile{
        padding: 55px 15px;
    }
}

.sign-head {
    text-align:center;
    @include mobile{
        text-align:left;
    }
    h3 {
        color: $sign-color;
        font-size: $sign-font-size;
        font-weight: 500;
        margin-bottom: 8px;
    }
    p {
        line-height: 15px;
        br{
            display:none;
             @include mobile{
                display:inline-block;
             }
        }
    }
}

.login-register-form {
    @include mobile{
        padding-right: 20px;
    }
    .form-group {
        margin-bottom: 0.77rem;
        label {
            font-weight: $form-sign-font-weight;
            margin-bottom: .2rem;
        }
    }
    .form-check{
        font-size:$form-sign-font-size-mobi;
        @include small{
            font-size: $form-sign-font-size;
        }
    }
    .form-check-input{
        margin-top: 0;
    }
    .form-link {
        float: right;
        @extend .form-check;
        a{
            color:$form-sign-color;
            display: block;
            &:hover {
                color: darked($form-sign-color, 10%);
                text-decoration: underline;
            }
        }
    }
    input{
        @include placeholder{
            font-size: $form-sign-font-size-mobi;
            color:$form-sign-color-input;
            @include small{
               color:transparent;
            }
        }
    }
    .btn-primary {
        border-radius: 15px;
        text-transform: uppercase;
        font-weight: 700;
        width:100%;
        padding:12px 23px;
        text-align: center;
        cursor: pointer;
        font-size:rem(14px);
        margin-top: 3px;
        @include mobile{
            width:auto;
            font-size:rem(12px);
        }
    }
}

.login-register-social {
    position: absolute;
    width: 100%;
    left:0;
    margin: 20px 0;
    text-align:center;
    padding-top:60px;
    padding-bottom: 20px;
    background:$wrapper-main-background;
    @include mobile{
        padding-bottom: 0;
        position: relative;
        padding-top:0;
        border-left: 1px solid $sign-color-border;
        background:transparent;
    }
    &:after {
        color: #9e9e9e;
        position: absolute;
        content: "Hoặc đăng nhập với:";
        left:0;
        right: 0;
        text-align: center;
        font-size: 14px;
        font-weight:500;
        top:0;
        padding-top: 15px;
        padding-bottom: 5px;
        border-bottom:1px solid $sign-color-border;
        @include mobile{
            font-weight:400;
            content: "Hoặc";
            font-size: 10px;
            transform: translateY(-50%);
            top: 50%;
            left: -15px;
            background: $sign-color-border;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            border-bottom:0;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    a {
        @extend %display-vertical-middle;
        @include mobile{
            display: block;
        }
        & + a {
            margin-left:60px;
            @include mobile{
                margin-left:0;
                margin-top: 30px;
            }
        }
    }
    i {
        margin: auto;
        color: #fff;
        &.ion-social-facebook {
            background: $color-facebook;
        }
        &.ion-google-plus {
            background: $color-google-plus;
        }
    }
}


// signup-page
.signup-page {
    .forgot-password{
        float: left;
         @include mobile{
            float: right;
         }
    }
    .login-register-social{
        &:after{
            content: "Hoặc đăng ký với:";
            @include mobile{
                content: "Hoặc";
            }
        }
    }
}