/* ==========================================================================
   Support Contact
   ========================================================================== */
.support-contact{
	h6{
		@include mobile{
			min-height: 50px;
		}
	}
	address{
		font-weight: 500;
		max-width:260px;
		line-height: 21px;
	}
	.btn-support{
		border-color:$primary-color;
		color:$primary-color;
		width: 100%;
		max-width:260px;
		display: block;
		border-radius: 0;
		padding:10px 15px;
		font-size: 18px;
		font-weight: 700;
		&:hover{
			background: $primary-color;
			color:$white;
		}
	}
}