/* ==========================================================================
   Support Detail
   ========================================================================== */

.support-detail-header{
	margin-bottom:20px;
	&.open{
		.dropdown-menu{
			display: block;
		}
	}
	#dropdownMenuLink{
		font-size: 16px;
		font-weight: 400;
		i{
			font-size: 25px;
			color:$sub-color;
			margin-right: 10px;
			&:before{
				margin:0;
			}
		}
	}
	.dropdown-menu{
		border:none;
		box-shadow: 1px 0 8px rgba(0, 0, 0, 0.25);
		width: 100%;
		max-width: 500px;
		overflow:hidden;
		border-radius: 0;
		ol{
			padding-left: 25px;
		}
		li a{
			border-bottom: 1px solid $border-color;
			width: 100%;
			display: block;
			padding:14px 0;
			position: relative;
			font-size: 12px;
			font-weight: 700;
			&:hover{
				color:$sub-color;
			}
			&:after{
				position: absolute;
				bottom:-1px;
				content: "";
				width: 50px;
				left: -50px;
				height: 1px;
				background: $border-color;
			}
		}
	}
}
// end support detail header
.support-detail-content{
	margin-bottom:35px;
	h6{
		font-weight: 500;
		margin-bottom: 20px;
	}
}
// end support detail content
.btn-support-relate{
	margin-bottom:35px;
	a{
		margin:0 5px;
		// width: 150px;
		@include mobile{
			margin:0 15px;
		}
		i{
			font-size:16px;
		}
	}
}
// end  support relate
.support-detail-relate{
	h6{
		font-size: 14px;
		font-weight: 700;
	}
	li{
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 3px;
		a{
			color:$sub-color;
		}
	}
}