/* ==========================================================================
   Support Page
   ========================================================================== */
.main-support{
	background-color: $gray-lighter;
}
.support-center{
	padding:30px 10px;
	@include small{
		padding:75px 0;
	}
	.btn-view-all{
		width: 100%;
		height: 40px;
		border-color: $sub-color;
		margin:auto;
		display: block;
		color:$sub-color;
		line-height: 25px;
		@include small{
			width: 360px;
		}
		&:hover{
			background-color:$sub-color;
			color:#fff;
		}
	}
}