/* ==========================================================================
   Post Detail
   ========================================================================== */

.section-content-post-detail {
    @include mobile {
        padding: 30px 0;
    }
    header {
        h1 {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 3px;
        }
        .price {
            margin-bottom: 5px;
            @include mobile {
                margin-bottom: 8px;
            }
            strong {
                font-size: rem(16px);
                color: #ffb300;
                display: block;
                @include small {
                    font-size: rem(18px);
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            span {
                @include small {
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .price-min {
            color: $gray;
            font-weight: 600;
        }
        .address {
            color: $gray;
            margin-bottom: 0;
            line-height: 20px;
        }
    }

    .slick-arrow {
        @include vertical-middle(absolute);
        z-index: 10;
        color: $gray;
        font-size: 20px;
        &:hover {
            color: $sub-color;
        }
    }
    #gmap {
        height: 340px;
    }
}

.save-view {
    display: block;
    font-size: 21px;
    color: $gray;
    width: 39px;
    height: 27px;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    line-height: 24px;
    text-align: center;
    float: right;
    &.active {
        color: $sub-color;
        border-color: $sub-color;
    }
}

.gallery {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    .item-image {
        width: 100%;
        height: auto;
        margin: auto;
    }
    img {
        height: 600px;
        width: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    a {
        display: block;
        position: relative;
        height: 500px;
    }
    .slick-arrow {
        width: 35px;
        height: 58px;
        background: rgba(#000, .5);
        font-size: 24px;
        color: #fff;
        line-height: 58px;
        text-align: center;
        &.slick-prev {
            left: 1px;
        }
        &.slick-next {
            right: 1px;
        }
    }
}

.thumnail-gallery {
    position: relative; //padding:0 30px;
    margin: auto -3px;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 15px;
    margin-bottom: 30px;
    &.slick-initialized .slick-slide {
        display: inline-block;
        float: none;
    }
    .slick-track {
        margin: auto;
    }
    .item-image {
        padding: 0 3px;
        display: inline-block;
        cursor: pointer;
    }
    .item-image img {
        width: 100%;
    }
    .slick-arrow {
        &.slick-prev {
            left: -4px;
        }
        &.slick-next {
            right: -4px;
        }
    }
}

.descrition-post-detail {
    margin: 20px 0;
    @include small {
        margin: 0;
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        @include small {
            margin: 0 0 25px;
        }
    }
    ol {
        margin: -5px 0 20px;
        font-weight: 500;
        background: #fff3e0;
        border-radius: 8px;
        padding: 16px;
        .list-inline-item:not(:last-child) {
            margin-right: 10px;
        }
        li {
            margin-bottom: 16px;
        } // li + li{
        // 	padding:0 5px;
        // }
    }
    h6 {
        font-weight: 500;
        font-size: 12px;
        margin: 0 0 10px;
    }
}

// date-time-post-detail
.date-time-post-detail {
    width: 100%;
    background: $sub-bg-color;
    font-size: 11px;
    font-weight: 500;
    padding: 15px;
    border: 1px solid $border-color;
    margin-bottom: 10px;
    @include small {
        width: 109px;
        float: right;
    }
}

.post-detail-content .report-post {
    margin-top: 90px;
}

// report-post
// contact-person
.contact-person {
    .avata {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content {
        width: calc(100% - 50px);
        float: right;
        padding-left: 10px;
        h6 {
            font-size: rem(18px);
            font-weight: 700;
            margin: 0 0 5px;
        }
        span {
            color: $gray;
            font-weight: 400;
        }
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px 16px;
        &.btn-send-message,
        &.btn-price-proposal {
            margin-bottom: 15px;
        }
    }
    strong {
        color: $gray;
        font-size: 14px;
        margin-bottom: 6px;
        display: block;
    }
    ol {
        li {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            padding: 2px 0;
            align-items: stretch!important;
            display: flex!important;
            i {
                padding-right: 5px;
            }
        }
    }
}

.open>.dropdown-menu {
    display: block;
}

.share-post {
    margin: 10px 0 0;
    line-height: 25px;
    padding: 0;
    float: right;
    position: relative;
    @include small {
        margin: 0 -8px;
    }
    button {
        color: $gray;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        padding-right: 15px;
        &::after {
            position: absolute;
            top: 50%;
            right: 0px;
        }
        i {
            color: $sub-color;
            font-size: 18px; //@include mobile{
            //	margin-right:3px;
            //}
        }
    }
    .dropdown-menu {
        padding: 5px 10px;
        margin: 10px 0 0;
        @include mobile {
            margin: 0;
        }
    }
    .dropdown-item {
        padding: 0px;
        font-size: 12px;
        color: #9e9e9e;
        i {
            font-size: 20px;
        }
        &:hover {
            color: $sub-color;
            background: transparent;
        }
    }
}

.report-post-mobile {
    margin: 6px 0 0;
    @include small {
        margin: 0;
    }
    a {
        cursor: pointer;
        color: #9e9e9e;

        i {
            font-size: 18px;
            color: #8bc34a;
        }
    }
}


//price-proposal-seccessful
.price-proposal-seccessful {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    span {
        color: $primary-color;
        font-weight: 700;
    }
    a {
        color: $sub-color;
    }
}

//show-phone-number
.show-phone-number {
    a {
        color: $sub-color;
        font-size: 14px;
        font-weight: 700;
    }
    h6 {
        display: none;
    }
}