/* ==========================================================================
   Saved Searches
   ========================================================================== */
.list-key-search{
    li{
        font-size:14px;
        font-weight:500;
        border-bottom: 1px solid $border-color;
        @include small{
        	font-size:16px;
        }
        a{
            color:$sub-color;
            i{color:$web-color;
                font-size:rem(18px);}
        }
        &:last-child{
            border-bottom:0;
        }
    }
}