[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-bookmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;'); }
.icon-google-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8b;&nbsp;'); }
.icon-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf133;&nbsp;'); }
.icon-briefcase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf26c;&nbsp;'); }
.icon-android-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf2f5;&nbsp;'); }
.icon-android-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf2fc;&nbsp;'); }
.icon-podium { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf344;&nbsp;'); }
.icon-android-add-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf359;&nbsp;'); }
.icon-android-car { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf36f;&nbsp;'); }
.icon-android-cart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf370;&nbsp;'); }
.icon-android-favorite-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf387;&nbsp;'); }
.icon-android-favorite { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf388;&nbsp;'); }
.icon-android-menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf394;&nbsp;'); }
.icon-android-pin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3a3;&nbsp;'); }
.icon-ios-arrow-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3d0;&nbsp;'); }
.icon-ion-ios-arrow-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3d2;&nbsp;'); }
.icon-ios-arrow-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3d3;&nbsp;'); }
.icon-ios-arrow-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf3d8;&nbsp;'); }
.icon-ios-pricetag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf48d;&nbsp;'); }