@font-face {
  font-family: 'ionicons';
  src: url('../font/fontello.eot?94422529');
  src: url('../font/fontello.eot?94422529#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?94422529') format('woff2'),
       url('../font/fontello.woff?94422529') format('woff'),
       url('../font/fontello.ttf?94422529') format('truetype'),
       url('../font/fontello.svg?94422529#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94422529#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ionicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bookmark:before { content: '\e900'; } /* '' */
.icon-google-plus:before { content: '\ea8b'; } /* '' */
.icon-eye:before { content: '\f133'; } /* '' */
.icon-briefcase:before { content: '\f26c'; } /* '' */
.icon-android-search:before { content: '\f2f5'; } /* '' */
.icon-android-star:before { content: '\f2fc'; } /* '' */
.icon-podium:before { content: '\f344'; } /* '' */
.icon-android-add-circle:before { content: '\f359'; } /* '' */
.icon-android-car:before { content: '\f36f'; } /* '' */
.icon-android-cart:before { content: '\f370'; } /* '' */
.icon-android-favorite-outline:before { content: '\f387'; } /* '' */
.icon-android-favorite:before { content: '\f388'; } /* '' */
.icon-android-menu:before { content: '\f394'; } /* '' */
.icon-android-pin:before { content: '\f3a3'; } /* '' */
.icon-ios-arrow-down:before { content: '\f3d0'; } /* '' */
.icon-ion-ios-arrow-left:before { content: '\f3d2'; } /* '' */
.icon-ios-arrow-right:before { content: '\f3d3'; } /* '' */
.icon-ios-arrow-up:before { content: '\f3d8'; } /* '' */
.icon-ios-pricetag:before { content: '\f48d'; } /* '' */